%h1 Log In

= form_tag sessions_path, :class => 'no_ajaxify' do
  .field
    = label_tag :email
    = text_field_tag :email, params[:email]

    .field
      = label_tag :password
      = password_field_tag :password

    -#= link_to "forgotten password?", password_resets_path, method: :POST
    -#.field
    -#  = label_tag :remember_me
    -#  = check_box_tag :remember_me, 1, params[:remember_me]

  .actions
    = submit_tag "Log In"
