%ul.side-nav
  %li
  - if allow? :suppliers, :index
    %li
      != link_to 'Suppliers', suppliers_path, :class => "small button radius"
  - if allow? :orders, :index
    %li
      != link_to 'Orders', orders_path, :class => "small button radius"
  - if allow? :payments, :index
    %li
      != link_to 'Payments', payments_path, :class => "small button radius"
  - if allow? :receipts, :index
    %li
      != link_to 'Receipts', receipts_path, :class => "small button radius"
  - if allow? :transfers, :index
    %li
      != link_to 'Transfers', transfers_path, :class => "small button radius"
  - if allow? :postings, :index
    %li
      != link_to 'Postings', postings_path, :class => "small button radius"
  - if allow? :monthlies, :index
    %li
      != link_to 'Monthlies', monthlies_path, :class => "small button radius"
  - if allow? :banks, :index
    %li
      != link_to 'Banks', banks_path, :class => "small button radius"
  -#- if allow? :dailes, :index
  -#  %li
  -#    != link_to 'Dailies', dailies_path, :class => "small button radius", remote: true, class: 'no_ajaxify'
  -#- if allow? :timesheets, :index
  -#  %li
  -#    != link_to 'Timesheets', timesheets_path, :class => "small button radius"
  - if allow? :wages, :index
    %li
      != link_to 'Wages', wages_path, :class => "small button radius"
  - if allow? :employees, :index
    %li
      != link_to 'Employees', employees_path, :class => "small button radius"
  - if allow? :pay_rates, :index
    %li
      != link_to 'Pay Rates', pay_rates_path, :class => "small button radius"
  - if allow? :accounts, :index
    %li
      != link_to 'Account List', accounts_path, :class => "small button radius"

