%ul.inline-list
  - if allow? :items, :index
    %li
      != link_to 'Items', items_path
  - if allow? :pages, :index
    %li
      != link_to 'Pages', pages_path
  - if allow? :broadcasts, :index
    %li
      != link_to 'Broadcasts', broadcasts_path
  - if allow? :items, :index
    %li
      != link_to "Trade", menu_path('base'), remote: true, class: 'no_ajaxify'
  - if allow? :postings, :index
    %li
      != link_to "Accounts", menu_path('accounts'), remote: true, class: 'no_ajaxify'
  - if allow? :elements, :index
    %li
      != link_to "System", menu_path('system'), remote: true, class: 'no_ajaxify'
:coffeescript
  jQuery ->
    $('div#menu li').on 'click', (event) ->
      $('div#menu li').removeClass 'active'
      $(this).addClass('active')
