%ul.side-nav
  - if allow? :orders, :index
    %li
      != link_to 'Sales', orders_path(home: true), :class => "small button radius"
  - if allow? :items, :index
    %li
      != link_to 'Items', items_path, :class => "small button radius"
  - if allow? :categories, :index
    %li
      != link_to 'Categories', categories_path, :class => "small button radius"
  - if allow? :options, :index
    %li
      != link_to 'Options', options_path, :class => "small button radius"
  - if allow? :suppliers, :index
    %li
      != link_to 'Suppliers', suppliers_path, :class => "small button radius"
  - if allow? :customers, :index
    %li
      != link_to 'Customers', customers_path, :class => "small button radius"
  - if allow? :pics, :index
    %li
      != link_to 'Pics', pics_path, :class => "small button radius"
%hr
