- %w(food drinks catalogue).each do |component|
  - if eval("current_tenant.#{component} == '1'")
    %li.show-for-large-up
      != link_to make_title(component), choices_path(choices: component), class: 'button radius no_ajaxify', remote: 'true'
    %li.hide-for-large-up
      != link_to make_title(component), choices_path(choices: component), class: 'no_ajaxify', remote: 'true'
%li.show-for-large-up
  != link_to 'Us', sub_menu_path('us', code: true), class: 'button radius no_ajaxify', remote: 'true'
%li.hide-for-large-up
  != link_to 'Us', sub_menu_path('us', code: true), class: 'no_ajaxify', remote: 'true'
