- unless current_user.id.blank?
  - if !params[:monitor].present? && allow?(:users, :index)
    %li
      != link_to "Profile", edit_user_path(current_user.id) #, :class => "button radius"
  - if @home_flag
    %li#admin
      != link_to 'Home', welcome_path, class: 'no_ajaxify' #, remote: 'true'
  -#- if allow? :meals, :index
  -#  %li#admin
  -#    != link_to 'Monitor', meals_path(monitor: true), class: 'no_ajaxify' #, remote: 'true'
  %li
    - monitor = params[:monitor].present? ?  true : false
    != link_to "Log Out", logout_path(monitor: monitor), :method => :delete, :class => "no_ajaxify"
- else
  -#%li
  -#  != link_to "Register", signup_path, :class => "button radius"
  %li
    - if (CONFIG[:allowed_hosts].include?(request.remote_ip) ) # && 1 == 2
      != link_to "Manage", login_path() #, :class => "button radius"
      -# if (request.remote_ip.include?(CONFIG[:home_network]) || request.remote_addr == '127.0.0.1') # && 1 == 2
    -else
      != link_to "Remote", remote_path()
