%section.section.right
  - %w(food drinks catalogue).each do |component|
    - if eval("current_tenant.#{component} == '1'")
      != link_to make_title(component), choices_path(choices: component), :remote => true, :class => "small button radius"
  - if (current_tenant.bookings && current_tenant.bookings == '1') && (allow? :bookings, :index )
    != link_to 'Bookings', bookings_path, :class => "small button radius"
  - if current_tenant.cart == '1'
    != link_to "Cart", carts_path(), :remote => true, :class => "small button radius no_ajaxify"
  - if current_tenant.sitting == '1'
    != link_to "Sitting", meals_path(), :remote => true, :class => "small button radius no_ajaxify"
  - if allow? :items, :index
    != link_to "Menu", menu_path('base'), :remote => true, :class => "small button radius no_ajaxify"
  - if allow? :postings, :index
    != link_to "Accounts", menu_path('accounts'), :remote => true, :class => "small button radius no_ajaxify"
  - if allow? :elements, :index
    != link_to "System", menu_path('system'), :remote => true, :class => "small button radius no_ajaxify"
  = render 'layouts/menus/session'