%ul.inline-list
  - if allow? :financials, :create
    %li
      != link_to "New Petty", new_financial_path(petty: true), title: 'Create Petty Cash' #, class: 'small button radius' #, class: 'no_ajaxify', remote: 'true'
  - ['opening_hours','find_us'].each do |category|
    %li
      = link_to title(category), page_path(category, code:true)
  - if admin_ok?
    - if allow? :pages, :index
      %li
        = link_to 'Our News', blog_pages_path(name: 'news')
    - if eval("current_tenant.brixham == '1'")
      %li
        = link_to 'Around Brixham', blog_broadcasts_path(name: 'news')
      %li
        = link_to 'Events', blog_broadcasts_path(name: 'event')
    - if eval("current_tenant.rugby == '1'")
      %li
        = link_to 'Rugby Stuff', blog_broadcasts_path(name: 'rugby')
  %li
    = render 'layouts/menus/session'
:coffeescript
  jQuery ->
    $('div#menu li').on 'click', (event) ->
      $('div#menu li').removeClass 'active'
      $(this).addClass('active')
