= form_for @employee do |f|
  %fieldset
    %legend= 'Employee'
    .row
      .field.small-2.columns
        = f.label :title
        = f.text_field :title
      .field.small-2.columns
        = f.label :first_name
        = f.text_field :first_name
      .field.small-2.columns.left
        = f.label :last_name
        = f.text_field :last_name
      .field.small-2.columns.left
        = f.label :reference
        = f.text_field :reference
      .field.small-2.columns.left
        = f.label :monthly
        = f.check_box :monthly
      .field.small-2.columns.left
        = f.label :holiday
        = f.check_box :holiday
      .field.small-2.columns.left
        = f.label :live, 'Current'
        = f.check_box :live
    .row
      .field.small-3.columns.left
        = f.label :date_of_birth
        = f.date_field :date_of_birth
      .field.small-2.columns.left
        = f.label :ni_number
        = f.text_field :ni_number
      .field.small-2.columns.left
        = f.label :hourly_rate
        Use Pay Rates Table
    .row
      .field.small-4.columns
        = f.label :address1
        = f.text_field :address1
    .row
      .field.small-4.columns
        = f.label :address2
        = f.text_field :address2
    .row
      .field.small-4.columns
        = f.label :town
        = f.text_field :town
    .row
      .field.small-2.columns
        = f.label :postcode
        = f.text_field :postcode
    .row
      .field.small-3.columns
        = f.label :mobile_phone
        = f.text_field :mobile_phone
      .field.small-3.columns.left
        = f.label :home_phone
        = f.text_field :home_phone
    .row
      .field.small-3.columns
        = f.label :start_date
        = f.date_field :start_date
      .field.small-3.columns.left
        = f.label :end_date
        = f.date_field :end_date
    .row
      .actions
        = f.submit 'Save'
