= button_to 'New Employee', new_employee_path, method: :get

%table
  %tr
    %th Name
    %th Date of birth
    %th Ni number
    %th Mobile phone
    %th Start date
    %th End date
    %th
    %th
    %th

  - @employees.each do |employee|
    %tr
      %td= employee.first_name
      %td= employee.date_of_birth
      %td= employee.ni_number
      %td= employee.mobile_phone
      %td= employee.start_date
      %td= employee.end_date
      %td= link_to 'Pay', new_payment_path(type: 'payroll', employee_id: employee.id)
      %td= link_to 'Show', employee
      %td= link_to 'Edit', edit_employee_path(employee)
      %td= link_to 'Destroy', employee, :method => :delete, :data => { :confirm => 'Are you sure?' }
