%h1 Listing employees

%table
  %tr
    %th Title
    %th First name
    %th Last name
    %th Date of birth
    %th Ni number
    %th Address1
    %th Address2
    %th Town
    %th Postcode
    %th Mobile phone
    %th Home phone
    %th Start date
    %th End date
    %th
    %th
    %th

  - @employees.each do |employee|
    %tr
      %td= employee.title
      %td= employee.first_name
      %td= employee.last_name
      %td= employee.date_of_birth
      %td= employee.ni_number
      %td= employee.address1
      %td= employee.address2
      %td= employee.town
      %td= employee.postcode
      %td= employee.mobile_phone
      %td= employee.home_phone
      %td= employee.start_date
      %td= employee.end_date
      %td= link_to 'Show', employee
      %td= link_to 'Edit', edit_employee_path(employee)
      %td= link_to 'Destroy', employee, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Employee', new_employee_path
