= search_form_for @q do |f|
  .field.small-3.columns
    = f.collection_select :kind_eq, @kinds, "name", "title" #, prompt: 'Category'
  -#= f.select :grouping_eq,  options_from_collection_for_select(@groupings, "grouping", "grouping", params[:q][:grouping_eq]), include_blank: true
  .field.small-3.columns.left
    = f.text_field :name_cont
  .row
    .actions.small-3.columns.left
      = f.submit 'Search'
%p
  = link_to 'New element', new_element_path

%table
  %tr
    %th= current_tenant.domain
    %th Name
    %th Kind
    %th Desc
    %th Rank
    %th Default
    %th
    %th
    %th

  - @elements.each do |element|
    %tr
      %td
        = eval("element.#{current_tenant.domain} == '1'") ? 'ok' : ''
      %td= element.name
      %td= element.kind
      %td= element.desc
      %td= element.rank
      %td= element.default_choice
      - unless element.name == 'kind' and element.kind == 'kind'
        %td= link_to 'Edit', edit_element_path(element)
        %td= link_to 'Destroy', element, method: :delete, data: { confirm: 'Are you sure?' }

