%p
  = link_to 'New element', new_element_path

%table
  %tr
    %th= current_tenant.domain
    %th Name
    %th Kind
    %th Desc
    %th Rank
    %th Default
    %th
    %th
    %th

  - @elements.each do |element|
    %tr
      %td
        = eval("element.#{current_tenant.domain} == '1'") ? 'ok' : ''
      %td= element.name
      %td= element.kind
      %td= element.desc
      %td= element.rank
      %td= element.default_choice
      - unless element.name == 'kind' and element.kind == 'kind'
        %td= link_to 'Edit', edit_element_path(element)
        %td= link_to 'Destroy', element, method: :delete, data: { confirm: 'Are you sure?' }

