%p#notice= notice

%p
  %b Name:
  = @lookup.name

%p
  %b Kind:
  = @lookup.kind

%p
  %b Desc:
  = @lookup.desc

%p
  %b Rank:
  = @lookup.rank

= link_to 'Edit', edit_element_path(@element)
\|
= link_to 'Back', elements_path
