= form_for @tenancy, :validate => true do |f|

  %fieldset
    %legend= 'Tenancy: ' + ( @tenancy.name || "new" )

    .row
      .field.small-6.columns
        = f.label :name
        = f.text_field :name
      .field.small-6.columns
        = f.label :title
        = f.text_field :title
    .row
      .field
        = f.label :description
        = f.text_area :description
    .row
      .field
        = f.label :keywords
        = f.text_area :keywords
    .row
      .field.small-3.columns
        = f.label :domain
        = f.text_field :domain
    .row
      .field.small-6.columns.left
        = f.label :hostname
        = f.text_field :hostname
    .row
      .field.small-4.columns.left
        = f.label :home_supplier
        = f.text_field :home_supplier
      .field.small-1.columns.left
        = f.label :capacity
        = f.number_field :capacity
    .row
      .field.small-3.columns
        = f.label :component_tokens
        = f.collection_select :component_tokens, Element.where( :kind => 'component').load,
          'name', 'name', {}, { multiple: true, size: 4, include_blank: true }
    .row
      .field.small-3.columns
        = f.label :default_category
        = f.collection_select :default_category, Category.where( :ancestry_depth => 0).load,
          'name', 'name'
    .row
      .field.small-3.columns
        = f.label :home_currency
        = f.collection_select :home_currency, Element.where( :kind => 'currency').load,
          'name', 'name'
      .field.small-1.columns.left
        = f.label :vat_exempt
        = f.check_box :vat_exempt

    .row
      .actions
        = f.submit 'Save'
