- @categories = set_categories(current_tenant.default_category)
#tabs
  %ul
    - @categories.order(:rank, :name).each do |category|
      %li.category-tab
        = link_to category.nice_name.pluralize(2), "##{category.name}", :remote => true, :class => 'no_ajaxify'
  - @categories.order(:rank, :name).each do |category|
    %div.store-category{'id' => "#{category.name}"}
      -#%ul.clearing-thumbs{'data-clearing' => ''}
      %ul
        - category.children.each do |subcat|
          %li
            = subcat.nice_name
            %ul.menu-item
              = render :partial => "choices/#{current_tenant.domain}/item", collection: subcat.items
      .test

:coffeescript
  jQuery ->
    $( "#tabs" ).tabs()