- category = Category.find_by_name( params[:choices].present? ? params[:choices] : current_tenant.default_category)
- @choice = Category.find_by_name( params[:category] ) if params[:category].present?
- @choice ||= ( @meal.present? || @cart.present?) ? category.children.first : Category.find_by_name( params[:id] )
- if @meal.present? && @meal.seating_id.blank?
  - @page = Page.find_by_code( 'takeaway' )
- else
  - @page = Page.find_by_code( @choice.name )
%ul#catalogue
  -# if @page
    -# markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true)
    !=# markdown(@page.body)
  - subcats = params[:filter].present? ? @choice.children.where( name: params[:filter]) : @choice.children
  - subcats.each do |subcat|
    - if (allow? :items, :create) || subcat.items.where(withdrawn: false).size > 0
      %li
        %p.header
          %span.title
            != subcat.nice_name.pluralize
          - if allow? :items, :create
            %td= link_to 'New', new_item_path( category_id: subcat.id)

            !=# @choice.name.titleize.pluralize
          %span.notes
            != subcat.description unless subcat.description.blank?

        = render :partial => "choices/#{current_tenant.domain}/show", locals: { subcat: subcat}
