- @choice ||= Category.find_by_name( params[:id] )
- @page = Page.find_by_code( @choice.name )
%ul#catalogue
  - if @page
    != render 'pages/show_short'
  - subcats = params[:filter].present? ? @choice.children.where( name: params[:filter]) : @choice.children
  - subcats.each do |subcat|
    %li
      %p.header
        %span.title
          != subcat.nice_name
          != @choice.name.titleize.pluralize
        %span.notes
          != subcat.description unless subcat.description.blank?
      = render :partial => "choices/#{current_tenant.domain}/show", locals: { subcat: subcat}

:coffeescript
  jQuery ->
    $('a.gallery').colorbox()
