- @choice ||= Category.find_by_name( params[:id] )
- @page = Page.find_by_code( @choice.name )
%ul#catalogue
  - if @page
    != render 'pages/show_short'
  - @choice.children.each do |subcat|
    %li.header
      %span.title
        != subcat.nice_name
        != @choice.name.titleize.pluralize
      %span.notes
        != subcat.description unless subcat.description.blank?
      %ul.menu-item.small-block-grid-2.medium-block-grid-3.large-block-grid-4
        = render :partial => "choices/#{current_tenant.domain}/item", collection: subcat.items

:coffeescript
  jQuery ->
    $('a.gallery').colorbox()
