%h5= @item.name if @item

= form_for @recipe do |f|
  = f.hidden_field :item_id
  .row
    .field.small-3.columns.left
      = f.label :ingredient_id
      = collection_select(:recipe, :ingredient_id, Ingredient.where(live: true).order(:name), :id, :name, include_blank: true )
    .field.small-3.columns.left
      = f.label :amount_id
      - if @recipe.new_record? && @recipe.ingredient_id.blank?
        = f.select :amount_id, "<option value=''>Select Ingredient</option>".html_safe
      - else
        = collection_select(:recipe, :amount_id, get_quantities(Ingredient.find(@recipe.ingredient_id).unit_id), :id, :name )

  .actions
    = f.submit 'Save'

:coffeescript
  $("#recipe_ingredient_id").change ->
    $.ajax '/recipes/quantities',
      type: 'GET'
      dataType: 'script'
      data: {
        ingredient_id: $("#recipe_ingredient_id option:selected").val()
      }