- @cost = 0
%h5= @item.name if @item
%p
  = @item.notes
%hr
.large.columns-12
  - if @item
    = link_to 'Add', new_recipe_path(item_id: @item.id)
  Ingredient
  = link_to 'Create', new_ingredient_path(item_id: @item.id)
%hr
= render @recipes
%hr
.large.columns-12
  = "Item cost: #{pounds(@cost)}, price #{pounds(@item.price)}, target #{pounds(@cost * 3.5)}, margin #{pounds((@item.price / 1.2) - @cost)}"
  -# VERY NAUGHTY
  - @item.update(cost: @cost)