= button_to 'New Bank', new_bank_path, method: :get

%table
  %tr
    %th
    %th Name
    %th Ref
    -#%th Sort code
    -#%th Account no
    %th.number Opening balance
    %th Currency
    %th Notes
    %th Rank
    %th
    %th
    %th

  - @banks.each do |bank|
    %tr
      %td= bank.id
      %td= bank.name
      %td= bank.reference
      -#%td= bank.sort_code
      -#%td= bank.account_no
      %td.number= bank.opening_balance
      %td= bank.opening_balance_currency
      %td= bank.notes
      %td= bank.rank
      %td= link_to 'Show', bank
      %td= link_to 'Edit', edit_bank_path(bank)
      %td= link_to 'Destroy', bank, :method => :delete, :data => { :confirm => 'Are you sure?' }
