%p#notice= notice

%p
  %b Name:
  = @bank.name
%p
  %b Sort code:
  = @bank.sort_code
%p
  %b Account no:
  = @bank.account_no
%p
  %b Opening balance:
  = @bank.opening_balance
%p
  %b Notes:
  = @bank.notes

= link_to 'Edit', edit_bank_path(@bank)
\|
= link_to 'Back', banks_path
