%ul#order
  %li.title
    - title = @booking_date.strftime("%a %e %b")
    -# title +=  ", #{pluralize(@bookings.sum(:pax), 'guest')}" unless @bookings.empty?
    - title +=  " [#{@bookings.sum(:pax)}]" unless @bookings.empty?
    %span
      = title
  - bookings = params[:all].present? ? @bookings : @bookings.where("state <> 'complete' and state <> 'cancelled'")
  - bookings.each do |booking|
    %li
      = booking.arrival.to_s(:time)
      - name = booking.customer_name.blank? ? 'walk-in' : booking.customer_name
      %span.title
        = link_to name, edit_booking_path(booking), remote: true, class: 'no_ajaxify has-tip', data: { tooltip:  true}, title: 'Update Booking'
    %li
      - if allow? :bookings, :delete
        = link_to 'X', booking, :method => :delete, remote: true, class: 'no_ajaxify has-tip', data: { :confirm => 'Delete Booking?' }, title: 'Delete Booking'
      -#- if params[:all].present?
      -#  = link_to 'CXL', status_booking_path(booking.id, status: 'billing', bill: true), method: :post, data: {confirm: 'Cancel Booking?'}, title: 'Cancel Booking', remote: true, class: 'no_ajaxify'
      - if booking.state == 'cancelled'
        = link_to 'unCXL', status_booking_path(booking.id, status: 'billing', bill: true), method: :post, data: {confirm: 'Cancel Booking?'}, title: 'Cancel Booking', remote: true, class: 'no_ajaxify'
      - else
        = link_to 'CXL', status_booking_path(booking.id, status: 'cancelled', bill: true), method: :post, data: {confirm: 'Cancel Booking?'}, title: 'Cancel Booking', remote: true, class: 'no_ajaxify'
      T
      - booking.seatings.joins(:tabel).order('tabels.name::INT').each do |seating|
        = render partial: 'bookings/tabel', locals: {seating:  seating }
      = "(#{booking.pax} pax)"
      = 'W' if booking.window && booking.seatings.empty?
      - unless ['cancelled', 'complete'].include? booking.state
        = link_to 'Complete', status_booking_path(booking.id, status: 'complete', bill: true), method: :post, data: {confirm: 'Service Complete?'}, title: 'Table Cleared', remote: true, class: 'no_ajaxify'
      - unless booking.notes.blank?
        %span{ class: 'has-tip', data: { tooltip:  true}, title: booking.notes }
          notes