= form_for @booking, html: { class: 'no_ajaxify'}, remote: true, validate: true do |f|

  %fieldset
    = f.hidden_field :walkin
    .row
      .large-12.columns
        %h3
          = @booking.walkin ? 'Walk In' : "Booking: #{@booking.booking_date.strftime('%e %b %y')}"
    .row
      .large-12.columns
        - if @booking.booking_date.blank?
          .field.small-4.columns
            = f.label :booking_date
            = f.date_field :booking_date
        - else
          = f.hidden_field :booking_date
    .row
      -#.large-12.columns
      -#  .field.timepicker.small-3.columns.left
      .large-6.columns.timepicker
        = f.label :arrival, 'Time'
        = f.text_field :arrival
      .large-6.columns
        = f.label :pax, 'Guests'
        = f.number_field :pax
    - unless @booking.walkin
      .row
        .large-12.columns
          = f.label :customer_name, 'Name'
          = f.text_field :customer_name
      .row
        .large-12.columns
          = f.label :contact, 'Contact Phone'
          = f.text_field :contact
    - else
      = f.hidden_field :customer_name
      = f.hidden_field :contact
    .row
      .large-12.columns
        = f.label :notes, "#{ (allow? :seating, :create) ? 'Notes' : 'Requests'}"
        = f.text_area :notes
    - if allow? :seating, :create
      .row
        .large-12.columns
          = render @tabels
          - unless @booking.walkin
            .large-4.columns.left
              = f.label :window, 'Win'
              = f.check_box :window
          - if allow? :seating, :create
            .large-4.columns.left
              = f.label :confirmed, 'Conf'
              = f.check_box :confirmed
    .row
      .large-12.columns
        = f.submit 'Save'

:coffeescript
  $("div.timepicker input").each (i) ->
    $("div.timepicker input").datetimepicker
      timeOnly: true
      timeFormat: "h:mm TT"
      altFieldTimeOnly: false
      altTimeFormat: "HH:mm"
      altField: $(this).next()
