= form_for @booking, html: { class: 'no_ajaxify'}, remote: true, validate: true do |f|

  %fieldset
    = f.hidden_field :walkin
    .row
      .large-12.columns
        %h3
          = @booking.walkin ? 'Walk In' : "Booking: #{@booking.booking_date.strftime('%e %b %y')}"
    .row
      .large-12.columns
        - if @booking.booking_date.blank? || (allow? :seating, :create)
          = f.label :booking_date
          = f.date_field :booking_date
        - else
          = f.hidden_field :booking_date
    .row
      -#.large-12.columns
      -#  .field.timepicker.small-3.columns.left
      .large-6.columns.timepicker
        = f.label :arrival, 'Time'
        = f.select :arrival, grouped_options_for_select(get_times(params[:opening]), nil, divider: 'Sitting')
        =# f.text_field :arrival, placeholder: 'arrival'
      .large-6.columns
        = f.label :pax, 'Party'
        = f.number_field :pax, placeholder: 'size'
    - unless @booking.walkin
      .row
        .large-12.columns
          = f.label :customer_name, 'Contact'
          = f.text_field :customer_name, placeholder: 'name'
      .row
        .large-12.columns
          = f.label :contact, 'Phone', placeholder: 'phone'
          = f.text_field :contact, placeholder: 'your number'
      .row
        .large-12.columns
          = f.label :contact, 'Email'
          = f.text_field :contact, placeholder: 'email'
    - else
      = f.hidden_field :customer_name
      = f.hidden_field :contact
    .row
      .large-12.columns
        = f.label :notes, "#{ (allow? :seating, :create) ? 'Notes' : 'Requests'}"
        = f.text_area :notes, placeholder: 'notes'
    - if allow? :seating, :create
      .row
        .large-12.columns
          = render @tabels
          - unless @booking.walkin
            .large-4.columns.left
              = f.label :window, 'Win'
              = f.check_box :window
          - if allow? :seating, :create
            .large-4.columns.left
              = f.label :confirmed, 'Conf'
              = f.check_box :confirmed
    .row
      .large-6.columns
        = f.submit 'Save'
      .large-6.columns
        = f.submit 'Cancel'

