-#%li.request
-#  = link_to 'Make Booking', new_booking_path(date: date.to_s, opening: opening), class: 'no_ajaxify', remote: true
- if date == Time.now.to_date
  %li.request
    = link_to 'New Walk-In', new_booking_path(:walk_in => true, opening: opening), class: 'no_ajaxify', remote: true
  %li.request
    = link_to 'New Takeaway', meals_path(takeaway: true), method: 'POST', remote: true, class: 'no_ajaxify has-tip', data: { tooltip:  true}, title: 'Create Takeaway Order'
- if bookings[date]
  %li
    = link_to (pluralize bookings[date].size, 'booking'), dated_bookings_path(booking_date: date.to_s), remote: true, class: 'no_ajaxify'
  %li
    = pluralize bookings[date].map(&:pax).sum, 'person'
    -#- bookings[date].each do |booking|
    -#  %li
    -#    - title =  "#{booking.arrival.to_s(:time)} #{booking.pax} #{booking.customer_name}"
    -#    = link_to title, booking
