- months = get_months(Date.today.beginning_of_month, 12)
- no_content= params[:no_content].present? ? 'no_content' : ''
%p= select_tag 'months', options_for_select(months, month)
= calendar(month) do |date|
  %ul
    %li
    = date.day
    - status = []
    - message = ''
    - if date >= Time.now.to_date
      - if openings[date]
        - openings[date].each do |opening|
          - status << opening.status
          - if opening.message.blank?
            - message = ''
          -else
            - message = "#{opening.message}"
      - unless (status.size > 0 and ( status & ['lunch','open']).size > 0)
        - opening = 'dinner'
      - else
        - if status.include? 'open'
          - opening = 'open'
        - else
          - opening = 'lunch'

      - if allow? :seatings, :create
        = render partial: 'bookings/month_admin', locals: {date: date, bookings: bookings, openings: openings, opening: opening}
      
      - if status.size > 0 and ((status & ['lunch','dinner','open'] ).size == 0)
        %span.closed
          = "Restaurant Closed"
          = " ... #{message}" unless message.blank?
      -# else
        - unless (status.size > 0 and ( status & ['lunch','open']).size > 0)
          - opening = 'dinner'
        - else
          - if status.include? 'open'
            - opening = 'open'
          - else
            - opening = 'lunch'
        - if bookings[date].blank? || (bookings[date] && bookings[date].sum(&:pax) < 300) ||  allow?(:seating, :create) #full increased to 300 to avoid limit logic
          = render partial: 'bookings/month_request', locals: {date: date, bookings: bookings, events: events, opening: opening, no_content: no_content }
        - elsif bookings[date] && bookings[date].any?{|a| ["early_ok","late_ok"].include? a.customer_name }
          - if bookings[date].any?{|a| ["early_ok"].include? a.customer_name }
            Phone, 6pm Only
          - else
            Phone, 9pm Only
        - else
          Pretty much Full
        -# if allow? :seatings, :create
          =# render partial: 'bookings/month_admin', locals: {date: date, bookings: bookings, openings: openings, opening: opening}
      - if events[date]
        - events[date].each do |event|
          %li.event{class: event.category}
            != link_to event.title, broadcast_path( event, aside: true ), class: "no_ajaxify  #{no_content}", remote: true

