- months = get_months(Date.today, 12)
%p= select_tag 'months', options_for_select(months, month)
= calendar(month) do |date|
  = date.day
  - status = []
  - if date >= Time.now.to_date
    - if openings[date]
      - openings[date].each do |opening|
        - status << opening.status
    - if status.size == 1 and status[0] == 'closed'
      %span.closed
        Closed
    - else
      %span
        - unless status.size > 0 and status.include? 'lunch'
          Dinner
        - else
          Lunch & Dinner
      - if allow? :seating, :create
        = render partial: 'month_admin', locals: {date: date, bookings: bookings, openings: openings}
      - else
        = render partial: 'month_public', locals: {date: date, bookings: bookings, events: events, openings: openings}
    - if events[date]
      - events[date].each do |event|
        %li.event
          != link_to event.title, broadcast_path( event, aside: true ), class: 'no_ajaxify', remote: true






  -#- if date >= Time.now.to_date
  -#  = link_to 'new', new_booking_path(date: date.to_s)
  -#  - if date == Time.now.to_date && (allow? :bookings, :create)
  -#    = link_to 'New Walk-In', new_booking_path(:walk_in => true)
  -#  - else
  -#    REQUEST
  -#- if bookings[date]
  -#  = link_to "#{bookings[date].size} booked", dated_bookings_path(booking_date: date.to_s), remote: true, class: 'no_ajaxify'
  -#  = bookings[date].map(&:pax).sum
  -#  %ul
  -#    - bookings[date].each do |booking|
  -#      %li
  -#        - title =  "#{booking.arrival.to_s(:time)} #{booking.pax} #{booking.customer_name}"
  -#        = link_to title, booking
