-#%li.request
- case opening
- when 'open'
  - open = 'Lunch/Dinner'
- else
  - open = opening.capitalize
- if allow? :dailies, :create
  = link_to "Book #{opening.capitalize}", new_booking_path(date: date.to_s, opening: opening), class: 'no_ajaxify', remote: true
- elsif 1 == 2
  = link_to "Book #{open}", new_booking_path(date: date.to_s, opening: opening), class: "no_ajaxify #{opening} #{no_content}", remote: true
