#thanks
  .row
    .large-12.columns
      %p
        Thanks, we give you a call to confirm:
  .row
    .large-12.columns
      %p
      %p
        Booking:
        %br
        %span.title
          != @booking.arrival.strftime("%H:%M")
        on
        %span.title
          != @booking.booking_date.strftime("%a %e %b")
        %br
        %span.title
          != pluralize(@booking.pax, 'person')
  .row
    .large-12.columns
      %p
        Contact:
        %br
        %span.title
          != @booking.customer_name
        %br
        %span.title
          != @booking.contact

