-#.stocks
- first = true
- @stocks.each do |stock|
  - if first
    - sold_items = LineItem.joins(:variant).where('line_items.created_at >= ? and line_items.domain = ? and item_id = ?', stock.stock_date, current_tenant.domain, stock.item_id)
    - unless stock.item_option.blank?
      - sold_items = sold_items.where("line_items.options LIKE '%#{stock.item_option}%'")
    - sold = sold_items.sum(:quantity)
    - total_sold = 0
    - sold_items.each do |item|
      - parts = item.options.split(',').size
      - total_sold += (item.quantity / parts)
  %p
    %span= "#{stock.stock_date.strftime('%e %b %Y')}: #{stock.stock_level} in stock"
    - if first
      %span= ", #{total_sold} portions sold"
      - first = false
    %span= link_to '[x]', stock, :method => :delete, :data => { :confirm => 'Remove stock reading?' }, remote: true, class: 'no_ajaxify'

