Search Functions

%table
  %tr
    %th Effective
    %th
    %th
    %th
    %th Account
    %th.number Debit
    %th.number Credit
    %th
    %th
    %th

  - @postings.each do |posting|
    - p posting.postable
    %tr
      %td= posting.event_date.strftime("%-d %b %y")
      %td= posting.postable_type
      %td= posting.postable_type.classify.constantize.find(posting.postable_id).desc
      %td= posting.accountable.name if posting.accountable
      %td= posting.account.name if posting.account
      %td.number= humanized_money_with_symbol( posting.debit_amount )  unless posting.debit_amount == 0
      %td.number= humanized_money_with_symbol( posting.credit_amount )  unless posting.credit_amount == 0
      %td=# link_to 'Show', posting
      %td=# link_to 'Edit', edit_posting_path(posting)
      %td=# link_to 'Destroy', posting, :method => :delete, :data => { :confirm => 'Are you sure?' }
