.temp
  = variant.item.name
  %br
  - if pic = variant.pics.first
    = image_tag( pic.image_url(:gallery))
  %br
  %span.name= variant.name
  %span.price= variant.price || variant.item.price
  %br
  = button_to 'Add to Cart', line_items_path(variant_id: variant.id),
   :form_class => "no_ajaxify", :remote => true