.store-variant
  %span.name
    - name = variant.item.name
    - name += ": #{variant.name}" unless variant.name == 'default'
    = name
  %br
  - if pic = variant.pics.first
    -#%a.no_ajaxify{ href: pic.image_url(:detail), 'data-caption' => "caption here..." }
    = image_tag( pic.image_url(:gallery))
  %br
  = button_to 'Add to Cart', line_items_path(variant_id: variant.id),
   :form_class => "no_ajaxify", :remote => true
  - price = variant.price.to_d > 0 ? variant.price : variant.item.price
  %span.price= humanized_money_with_symbol( price )
