- name = variant.item.name
- name += ": #{variant.name}" unless variant.name == 'default'
- price = variant.price.to_d > 0 ? variant.price : variant.item.price
%li
  %section
    .store-variant
      - if pic = variant.pics.first
        %a.gallery.no_ajaxify{ href: pic.image_url(:detail), rel: @choice.name, title: name }
          = image_tag( pic.image_url(:gallery), data: { caption: name})
  %section.section.vertical-tabs{"data-section" => "vertical-tabs"}
    = button_to "#{name}: #{humanized_money_with_symbol( price )}", line_items_path(variant_id: variant.id),
      :form_class => "no_ajaxify", :remote => true

