= form_for @ingredient do |f|
  - if @ingredient.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ingrediient.errors.count, "error")} prohibited this ingredient from being saved:"
      %ul
        - @ingredient.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :supplier_id
    = f.number_field :supplier_id
  .field
    = f.label :reference
    = f.text_field :reference
  .field
    = f.label :quantity
    = f.number_field :quantity
  .field
    = f.label :unit_id
    = f.number_field :unit_id
  .field
    = f.label :live
    = f.check_box :live
  .field
    = f.label :notes
    = f.text_field :notes
  .field
    = f.label :text
    = f.text_field :text
  .actions
    = f.submit 'Save'
