%p
  = link_to 'New Ingredient', new_ingredient_path, :class => "small button radius"

= search_form_for @q do |f|
  = hidden_field_tag :stock, true
  .field.small-3.columns
    = f.collection_select :supplier_id_eq, @suppliers, "id", "name", include_blank: 'Supplier'
  -#= f.select :grouping_eq,  options_from_collection_for_select(@groupings, "grouping", "grouping", params[:q][:grouping_eq]), include_blank: true
  .field.small-3.columns.left
    = f.text_field :name_cont
  .row
    .actions.small-3.columns.left
      = f.submit 'Search'

%table
  %thead
    %tr
      %th Name
      %th Supplier
      %th Reference
      %th Quantity
      %th Cost
      %th Live
      %th

  %tbody
    - @ingredients.each do |ingredient|
      %tr
        %td= link_to ingredient.name, edit_ingredient_path(ingredient)
        %td= ingredient.supplier.name if ingredient.supplier
        %td= ingredient.reference
        %td= ingredient.quantity.name
        %td= pounds(ingredient.cost)
        %td= ingredient.live
        %td= link_to 'X', ingredient, :method => :delete, :data => { :confirm => 'Are you sure?' }

