%footer
  %h6
    != current_tenant.company
  %p
    != "Registered in UK"
  %p
    != "Company No #{current_tenant.coho}"
  -unless current_tenant.vat.blank?
    %p
      !="VAT #{current_tenant.vat}"
