- markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true)
- @page = Page.find_by_code('solus')
- if @page
  #solus
    %h1
      != @page.title
    != markdown(@page.body)
    - if @page.image == 'image'
      - if @page.link.blank?
        .aside-image
          != image_tag("/assets/images/#{current_tenant.domain}/solus.jpg")
      - else
        .aside-image
          != link_to image_tag("/assets/images/#{current_tenant.domain}/solus.jpg"), @page.link
        %p
          != link_to 'more ...', @page.link
  - unless @page.color.blank?
    :coffeescript
      jQuery ->
        $('div#solus').addClass( "#{@page.color}" )

- else
  Sorry, Solus missing
