%p
  Hi again

%p
  We're pleased to confirm your booking:

%p
  %i
    Booking Details
  %br
  = "#{@booking.arrival.strftime('%H:%M')} on #{@booking.booking_date.strftime('%a %e %B %y')}"
  %br
  = "Party of #{@booking.pax}"
%p
  %i
    Contact
  %br
  = @booking.customer_name
  %br
  = @booking.contact

- unless @booking.notes.blank?
  %p
    %span
      We've noted:
      %i
        = "'#{@booking.notes}'"

- unless @notes.blank?
  %p
    %span
      = @notes

%p
  %span
    Thanks, see you soon!

%p
  %i
    Pepper Shack