%p
  Hi

%p
  We have received your booking:

%p
  %i
    Details
  %br
  = "#{@booking.arrival.strftime('%H:%M')} on #{@booking.booking_date.strftime('%a %e %B %y')}"
  %br
  = "Party of #{@booking.pax}"
%p
  %i
    Contact
  %br
  = @booking.customer_name
  %br
  = @booking.contact

- unless @booking.notes.blank?
  %p
    %span
      We've noted your request:
      %i
        = "'#{@booking.notes}'"

%p
  - if @total_booked <= @current_tenant.capacity
    %span
      Thanks, we'll get back to you to confirm but looks fine!
  -else
    %span
      Thanks, we'll check the booking and get back to you.

%p
  %i
    Pepper Shack