= form_for @customer do |f|
  %fieldset
    %legend= 'Customer'
    -#- if @customer.errors.any?
    -#  #error_explanation
    -#    %h2= "#{pluralize(@customer.errors.count, "error")} prohibited this customer from being saved:"
    -#    %ul
    -#      - @customer.errors.full_messages.each do |msg|
    -#        %li= msg

    .row
      .field.small-5.columns
        = f.label :name
        = f.text_field :name
    .row
      .field.small-5.columns
        = f.label :phone1
        = f.text_field :phone1
    .row
      .field.small-5.columns
        = f.label :phone1
        = f.text_field :phone1
    .row
      .field.small-5.columns
        = f.label :email
        = f.text_field :email
    .row
      .field.small-5.columns
        = f.label :notes
        = f.text_area :notes
    .row
      .actions
        = f.submit 'Save'
