%p#notice= notice

%p
  %b Name:
  = @customer.name
%p
  %b Phone1:
  = @customer.phone1
%p
  %b Phone1:
  = @customer.phone1
%p
  %b Email:
  = @customer.email
%p
  %b Notes:
  = @customer.notes

= link_to 'Edit', edit_customer_path(@customer)
\|
= link_to 'Back', customers_path
