- variants = item.variants.where(domain: current_tenant.domain).order(:rank)
-# default = variants.where(item_default: true)
- default = variants.where(item_default: true)
- @meal_id = params[:meal_id].present? ? params[:meal_id].to_i : @meal.present? ? @meal.id : 0
-# @meal_id = 1
-#params[:id].to_i
- if @meal_id > 0 && !item.withdrawn  && ( (allow? :meals, :destroy) || (default.first.item.remote_order == true) ) && default.first.item.available
  %li
    = form_tag(meal_items_path, :method=>'post', :class => "no_ajaxify menu-item", :remote => true) do
      =#.has-tip{"data-tooltip" => "", title: item.notes}
      - if (allow? :orders, :create) && !item.notes.blank?
        = submit_tag "#{pounds( item.price )} #{item.name}", class: 'wide item variant has-tip', data: { id: default.first.id, tooltip: true }, title: item.notes
      - else
        = submit_tag "#{pounds( item.price )} #{item.name}", class: 'wide item variant', data: {id: default.first.id}
      -#- if (default.first.name == 'default')
      -#  = submit_tag "#{pounds( item.price )} #{item.name}", class: 'wide', data: { id: default.first.id }
      -#- else
      -#  = make_title( "#{pounds( item.price )} #{item.name}" )
      -#  = submit_tag default.first.name, class: 'wide', data: { id: item.id }
      - variants = variants - default
      = render partial: "choices/#{current_tenant.domain}/variant", collection: variants
      %br
      = hidden_field_tag :meal_id, @meal_id
      = hidden_field_tag :variant_id, default.first.id

      - choices = item.choices ? (item.choices - [""] ) : []
      - choices = item.category.choices ? (item.category.choices - [""] ) : [] unless choices.size > 0
      - choices.each do |c|
        - @choice = c
        =# make_title(c)
        %ul.menu-item.small-block-grid-1.medium-block-grid-2.large-block-grid-2
          = render :partial => 'layouts/fields/item_choices_tag', collection: Element.where(kind: c).order(:rank) #, field: o
      - options = item.category.options ? (item.category.options - [""] ) : []
      - options = item.options ? (item.options - [""] ) : []  unless options.size > 0
      - options.each do |o|
        - @option = o
        =# make_title(o)
        %ul.menu-item.small-block-grid-1.medium-block-grid-2.large-block-grid-2
          = render :partial => 'layouts/fields/item_options_tag', collection: Element.where(kind: o).order(:rank) #, field: o
    -# :form_class => "no_ajaxify", :remote => true, class: 'tiny button'
- elsif (!params[:meal_id].present? && !params[:choices].present?)
  %li
    %p.item-header
      %span.price
        = pounds( item.price )
      %span.title
        = item.name
      %span
        = 'Sorry, available soon' unless default.first.item.available
      - if allow? :recipes, :create
        - label = item.recipes.size > 0  ? 'Recipe' : 'recipe'
        %span= link_to label, recipes_url(item_id: item.id)
      - if allow? :items, :create
        %span= link_to 'Edit', edit_item_path(item)
      - if allow? :items, :destroy
        %span= link_to 'X', item, :method => :delete, :data => { :confirm => 'Are you sure?' }
      - if item.withdrawn
        %span= 'WITHDRAWN'
      - if item.stock_item
        %span= 'stock'
    = render partial: "choices/#{current_tenant.domain}/variant", collection: variants.order(:rank)
    %p
      -#- if (allow? :orders, :create) && !item.notes.blank?
      -#  %span.has-tip{"data-tooltip" => "", title: item.notes}
      -#    [notes]
      - unless ((allow? :orders, :create) && @meal_id > 0)
        != item.description
