- price = variant.price.to_d > 0 ? variant.price : variant.item.price
- if @meal_id > 0 && variant.name != 'default' && ( (allow? :meals, :destroy) || variant.remote_order == true)
  -#= form_tag(meal_items_path, :method=>'post', :class => "no_ajaxify", :remote => true) do
  = submit_tag "#{pounds( price )} x #{variant.name}", class: 'half item variant', data: { id: variant.id }
- else
  - unless variant.name == 'default'
    = variant.name
    - if allow? :variants, :update
      %span= link_to 'Edit', edit_variant_path(variant)
    - if allow? :items, :destroy
      %span= link_to 'X', variant, :method => :delete, :data => { :confirm => 'Are you sure?' }
  = "(#{pounds( variant.price )})" if variant.price.to_d > 0
