-# price = variant.price.to_d > 0 ? variant.price : variant.item.price
- if @meal_id > 0
  -#= form_tag(meal_items_path, :method=>'post', :class => "no_ajaxify", :remote => true) do
  = submit_tag variant.name, class: 'wide', data: { id: variant.id }
- else
  - unless variant.name == 'default'
    = variant.name
    - if allow? :variants, :update
      %span= link_to 'Edit', edit_variant_path(variant)
    - if allow? :items, :destroy
      %span= link_to 'X', variant, :method => :delete, :data => { :confirm => 'Are you sure?' }
  = "(#{humanized_money_with_symbol( variant.price )})" if variant.price.to_d > 0
