- @accounts = get_accounts(@type)
= form_for @order, :validate => true do |f|

  %fieldset
    %legend= 'Order: ' + ( @order.state || "new" )
    .row
      .field.small-4.columns
        = f.label :effective_date
        = f.date_field :effective_date
      .field.small-4.columns
        = f.label :due_date
        = f.date_field :due_date
      .field.small-2.columns
        = f.label :quick
        = f.check_box :quick
        %br
        = f.label :contra
        = f.check_box :contra
      .field.small-2.columns.left
        = f.label :state
        = f.text_field :state
    .row
      .field.small-3.columns
        %span.title
          = "#{@order.net_total_currency} #{@order.exchange_rate} Total"
          = f.hidden_field :exchange_rate
          = f.text_field :net_home
          = f.text_field :tax_home
        %br
        %span#order_total
          = @order.net_total + @order.tax_total
      .field.small-3.columns
        = f.label :net_total
        = f.text_field :net_total, class: 'total_value'
      .field.small-3.columns
        = f.label :tax_total
        = f.text_field :tax_total, class: 'total_value'
      .field.small-3.columns.left
        = f.label :adjustment_total, 'Adjustments'
        = f.text_field :adjustment_total
    .row
      .field.small-4.columns.quick
        = f.label :account, 'Account'
        = f.grouped_collection_select :account_id, @accounts, :accounts, :name , :id, :name,
          :include_blank => true
      .field.small-8.columns.quick
        = f.label :desc
        = f.text_field :desc
    .row
      .field.small-4.columns
        = f.label :user_id
        = f.number_field :user_id
      .field.small-4.columns
        = f.label :customer_name
        = f.text_field :customer_name, data: {autocomplete_source: customers_path}
      .field.small-4.columns.left
        = f.label :supplier_name
        = f.text_field :supplier_name, data: {autocomplete_source: suppliers_path(currency: @order.net_total_currency)}
    .row
      .field.small-12.columns
        = f.label :special_instructions
        = f.text_area :special_instructions
    .row
      .field.small-12.columns
        = f.label :notes
        = f.text_area :notes
    #items
      .row.line-items
        .field.small-7.columns
          Items
          = link_to_add_association 'add item', f, :line_items, :class => 'no_ajaxify', :data => {"association-insertion-method" => "after"  }
          = @order.line_items.size
        -# unless @order.new_record?
        = f.fields_for :line_items do |task|
          = render 'line_item_fields', :f => task
    .actions
      = f.submit 'Save'
:coffeescript
  jQuery ->
    Account =
      checkQuick: (quick) ->
        if quick
          $('div.quick').show()
          $('div#items').hide()
          $('div#ajax-main').on 'change', 'input.total_value', ->
            net_total = $('input#order_net_total').val() * 100
            tax_total = $('input#order_tax_total').val() * 100
            $('span#order_total').html((net_total/100 + tax_total/100).toFixed(2))
        else
          $('div.quick').hide()
          $('div#items').show()
    Account.checkQuick($('#order_quick').is(':checked'))
    $('#order_supplier_name').autocomplete
      source: $('#order_supplier_name').data('autocomplete-source'),
      minLength: 2
    $('#order_customer_name').autocomplete
      source: $('#order_customer_name').data('autocomplete-source'),
      minLength: 2
    $('#order_quick').change ->
      alert( $(this).is(':checked') )
      Account.checkQuick($(this).is(':checked'))
    $('div#items').on 'change', 'input.item_value', ->
      net_total = 0
      tax_total = 0
      $('div.line_items').each ->
        line_item = $(this)
        quantityInput = line_item.find('input.quantity')
        quantity =  parseInt(quantityInput.val())
        if !quantity
          quantity = 1
          quantityInput.val(1)
        net = parseInt(parseFloat( line_item.find('input.net_item').val()) * 100 ) *  quantity
        if (net > 0)
          tax = parseInt(parseFloat(line_item.find('input.tax_item').val()) * 100 ) * quantity
          line_item.find('input.net_total_item').val((net / 100).toFixed(2))
          line_item.find('input.tax_total_item').val((tax / 100).toFixed(2))
          net_total += net
          tax_total += tax
      $('input#order_net_total').val((net_total/100).toFixed(2))
      $('input#order_tax_total').val((tax_total/100).toFixed(2))
      $('span#order_total').html((net_total/100 + tax_total/100).toFixed(2))
      exchange_rate = $('input#order_exchange_rate').val()
      $('input#order_net_home').val((net_total/(100*exchange_rate)).toFixed(2))
      $('input#order_tax_home').val((tax_total/(100*exchange_rate)).toFixed(2))
