%table.blog
  - @pages.order('updated_at DESC').each do |page|
    %tr
      %td
        %h3= link_to page.title, page_path(page)
        %p
          %span.date
            - dated = page.release.blank? ? page.updated_at : page.release
            = "#{dated.strftime("%e %b %Y")}"
          - if allow? :pages, :edit
            %span.date
              = link_to 'Edit', edit_page_path(page)
          %span
            = truncate(page.body, length: 200, separator: ' ', omission: '... ')
