- if @category != line_item.variant.item.grouping
  - @category = line_item.variant.item.grouping
  - category_name = @category.split(':')[1]
  - @component_title = make_title( category_name ).pluralize
  %li.category
    %span
      = link_to @component_title, choice_path(line_item.variant.item.category.parent.name), title: "View #{@component_title}"

%li
  %span.title
    = line_item.variant.item.category.name.truncate(24, separator: /\s/, omission: '').titleize
  %br
  = line_item.quantity
  x
  = link_to line_item.desc, choice_path(line_item.variant.item.category.parent.name, cart_id: @cart.id, filter: line_item.variant.item.category.name), title: "View #{make_title(line_item.variant.item.category.name)} #{@component_title}"
  %br
  - unless line_item.variant.item.unique
    = link_to '+', line_item_path( line_item.id, act: 'add'), method: :patch, remote: true, class: 'no_ajaxify', data: { tooltip:  true}, title: "Add one"
    = link_to '-', line_item_path( line_item.id, act: 'subtract'), method: :patch, remote: true, class: 'no_ajaxify', data: { tooltip:  true}, title: "Subtract one"
  = link_to 'x', line_item_path( line_item), method: :delete, remote: true, class: 'no_ajaxify', data: { tooltip:  true}, title: "Remove this item"
  = humanized_money_with_symbol(line_item.net_total_item + line_item.tax_total_item)
  = " @ #{humanized_money_with_symbol(line_item.net_item + line_item.tax_item)}"
  %br
