- if @category != line_item_bill.variant.item.grouping
  - @category = line_item_bill.variant.item.grouping
  - @component_title = make_title(@category.split(':')[1] ).pluralize
  %li.category
    %span
      = link_to @component_title, choice_path(line_item_bill.variant.item.category.parent.name), data: { tooltip:  true}, title: "View #{@component_title}"

%li
  = line_item_bill.quantity
  x
  = link_to line_item_bill.desc, choice_path(line_item_bill.variant.item.category.parent.name, cart_id: @cart.id, filter: line_item_bill.variant.item.category.name), data: { tooltip:  true}, title: "View #{make_title(line_item_bill.variant.item.category.name)} #{@component_title}"
  %br
  = link_to '+', line_item_path( line_item_bill.id, act: 'add'), method: :patch, remote: true, class: 'no_ajaxify', data: { tooltip:  true}, title: "Add one"
  = link_to '-', line_item_path( line_item_bill.id, act: 'subtract'), method: :patch, remote: true, class: 'no_ajaxify', data: { tooltip:  true}, title: "Subtract one"
  = link_to 'x', line_item_path( line_item), method: :delete, remote: true, class: 'no_ajaxify', data: { tooltip:  true}, title: "Remove this item"
  = humanized_money_with_symbol(line_item_bill.net_total_item + line_item_bill.tax_total_item)
  = " @ #{humanized_money_with_symbol(line_item_bill.net_item + line_item_bill.tax_item)}"
  %br
