#invoice
  #print-header
    %p.print-only
      %span
        Brixham's Caribbean Restaurant
      %span
        01803 882978
    %h1.print-only
      %b
        Pepper Shack
    %p.print-only
      %span
        Hopefully, we got it right and you had a good time ... but do tell us if we can make things better. Otherwise, please help us spread the word ... nice reviews on <b>TripAdvisor</b> are most welcome, too.
  -#%p.print-only
    -#  %span
    -#    book@peppershack.co.uk
    -#  %span
    -#    = "Twitter: @ShackTalk"

  %h3.no-print= "Bill #{@order.id}: #{@order.state}"

  %table#items
    %tr.header.no-print
      %td.title
        = current_tenant.name
      %td
        &nbsp;
    - line_items = @order.line_items.joins( {:variant => :item } ) #.order('items.grouping, items.rank, line_items.desc')
    != render partial: "orders/#{current_tenant.domain}/line_item", collection: line_items.order('items.grouping, items.rank, line_items.desc')
    %tr
      %td
        &nbsp;
    %tr.total
      %td
        Total
      %td.right
        = humanized_money_with_symbol(@order.net_total + @order.tax_total + @order.discount)

    - if  @order.discount > 0
      - if params[:offer].present?
        - params[:offer].each do |offer_name, amount|
          - if amount.to_d > 0
            %tr
              %td
                Less
                = offer_name
              %td.right
                = humanized_money_with_symbol(amount)
      - elsif @order.seating_id.blank?
        %tr
          %td
            = "Less #{(CONFIG[:takeaway_discount].to_d * 100).to_i}% Takeaway"
          %td.right
            = humanized_money_with_symbol(@order.discount)
      - else
        %tr
          %td
            Less Offer discount
          %td.right
            = humanized_money_with_symbol(@order.discount)

    - if @order.discount > 0
      %tr.total
        %td
          To Pay
        %td.right
          %span#order_total
            = humanized_money_with_symbol(@order.net_total + @order.tax_total)

  -#%table
  -#  %tr.print-only.message
  -#    %td.center
  #print-header
    %p.print-only
      %span
        All <b>tips</b>, cash and card, are shared equally &amp; in full - Thanks again!
  %table
    %tr.print-onlyx
      %td
        = current_tenant.company
        = "Co. No. #{current_tenant.coho}"
        %br
        = "VAT #{current_tenant.vat}: "
        %b
          = "#{humanized_money_with_symbol(@order.tax_home)}"
      %td.right
        = @order.updated_at.strftime('%e-%m-%y')
        %br
        = "Table #{@order.seating.tabel.name}" if @order.seating
  %p.no-print
    %span
      = link_to "Print",'#', id: 'print'
      |
    %span
      = link_to 'Amend Bill', check_in_meal_path(@order.id), method: :post, data: {confirm: 'Re-Create Order?'}, remote: true, class: 'no_ajaxify'
    -#- if @order.state == 'incomplete'
    -#  |
    -#  %span
    -#    = link_to 'Complete', status_order_path(@order.id, status: 'complete', bill: true), method: :post, data: {confirm: 'Complete Payment'}, remote: true, class: 'no_ajaxify'

    - if allow? :orders, :edit
      = form_for @order, url: {controller: 'orders', action: 'status', id: @order.id}, html: { class: 'no_ajaxify no-print'}, method: :post, remote: true, validate: true do |f|
        %fieldset.no-pad
          = hidden_field_tag :bill, true
          = hidden_field_tag :order_total, (@order.net_total + @order.tax_total)
          = f.hidden_field :state
          = f.hidden_field :paid
          = f.hidden_field :credit_card
          .row
            .large-1.columns
              = f.label :voucher
              = f.text_field :voucher
            .large-2.columns
              = f.label :tip, 'Cash Tip'
              = f.text_field :tip
            .large-2.columns
              = label_tag :cash, 'Part Cash'
              = text_field_tag :cash, 0.00
            .large-2.columns
              - total = (@order.paid > 0) ? @order.paid : (@order.net_home + @order.tax_home)
              = label_tag :total #, "Total (cc #{@order.credit_card})"
              = text_field_tag :total, total
            .large-2.columns
              %p.center
                %span.small
                  = "[#{pounds( @order.paid + @order.tip - @order.credit_card )}]"
              %p.center
                = f.submit 'All Cash', id: 'cash_payment'
            .large-2.columns.left
              %p.center
                %span.small
                  = "[#{pounds(@order.credit_card )}]"
              %p.center
                = f.submit 'Card', id: 'card_payment'
          .row
            - if allow? :orders, :destroy
              .large-3.columns
                = f.label :effective_date
                = f.date_field :effective_date
              .large-3.columns.left
                = f.label :session
                = f.select :session, options_for_select(Element.where(kind: 'sessions').order(:rank).map(&:name), @order.session)
