#invoice
  #print-header
    %table.print-only
      %tr
        %td
          %span
            Brixham's Caribbean Restaurant & Bar
          %h1
            Pepper Shack
        %td
          %p.right
            01803 882978
            %br
            book@peppershack.co.uk
            %br
            = "Twitter: @ShackTalk"

  %h3.no-print= "Bill #{@order.id}: #{@order.state}"

  %table
    %tr.header.no-print
      %td.title
        = current_tenant.name
      %td
        &nbsp;
    - line_items = @order.line_items.joins( {:variant => :item } ) #.order('items.grouping, items.rank, line_items.desc')
    != render partial: "orders/#{current_tenant.domain}/line_item", collection: line_items.order('items.grouping, items.rank, line_items.desc')
    %tr
      %td
        &nbsp;
    %tr.total
      %td
        Total
      %td.right
        = humanized_money_with_symbol(@order.net_total + @order.tax_total + @order.discount)

    - if  @order.discount > 0
      - if params[:offer].present?
        - params[:offer].each do |offer_name, amount|
          - if amount.to_d > 0
            %tr
              %td
                Less
                = offer_name
              %td.right
                = humanized_money_with_symbol(amount)
      - elsif @order.seating_id.blank?
        %tr
          %td
            = "Less #{(CONFIG[:takeaway_discount].to_d * 100).to_i}% Takeaway"
          %td.right
            = humanized_money_with_symbol(@order.discount)
      - else
        %tr
          %td
            Less Offer discount
          %td.right
            = humanized_money_with_symbol(@order.discount)

    - if @order.discount > 0
      %tr.total
        %td
          To Pay
        %td.right
          %span#order_total
            = humanized_money_with_symbol(@order.net_total + @order.tax_total)

    - if @order.tax_home > 0
      %tr
        %td
          %span
            = "Table #{@order.seating.tabel.name}" if @order.seating
            = "Order #{@order.id}"
          %span.no-print
            = "(#{@order.state})"
        %td.right
          = "(VAT #{current_tenant.vat}: #{humanized_money_with_symbol(@order.tax_home)})"
    %tr.footer
      %td
        = current_tenant.company
        = "Co. No. #{current_tenant.coho}"
      %td.right
        = @order.updated_at.strftime('%e-%b-%y')
  %p.no-print
    %span
      = link_to "Print",'#', id: 'print'
      |
    %span
      = link_to 'Amend Bill', check_in_meal_path(@order.id), method: :post, data: {confirm: 'Re-Create Order?'}, remote: true, class: 'no_ajaxify'
    -#- if @order.state == 'incomplete'
    -#  |
    -#  %span
    -#    = link_to 'Complete', status_order_path(@order.id, status: 'complete', bill: true), method: :post, data: {confirm: 'Complete Payment'}, remote: true, class: 'no_ajaxify'

    - if allow? :orders, :edit
      = form_for @order, url: {controller: 'orders', action: 'status', id: @order.id}, html: { class: 'no_ajaxify no-print'}, method: :post, remote: true, validate: true do |f|
        %fieldset.no-pad
          = hidden_field_tag :bill, true
          = hidden_field_tag :order_total, (@order.net_total + @order.tax_total)
          = f.hidden_field :state
          = f.hidden_field :paid
          = f.hidden_field :credit_card
          .row
            - if allow? :orders, :edit
              .large-3.columns
                = f.label :effective_date
                = f.date_field :effective_date
            .large-1.columns
              = f.label :voucher
              = f.text_field :voucher
            .large-2.columns
              = f.label :tip, 'Cash Tip'
              = f.text_field :tip
            .large-2.columns
              = label_tag :cash, 'Part Cash'
              = text_field_tag :cash, 0.00
            .large-2.columns
              - total = (@order.paid > 0) ? @order.paid : (@order.net_home + @order.tax_home)
              = label_tag :total
              = text_field_tag :total, total
            .large-1.columns.left
              %p.center
              = f.submit 'Card', id: 'card_payment'
              %p.center
              = f.submit 'All Cash', id: 'cash_payment'

