#invoice
  #print-header.print-only
    .row
      .columns.large-6
        %h1
          Pepper Shack
      .columns.large-6
        %p.sub
          Brixham's Caribbean Restaurant & Bar
        %p.contact
          %span
            01803 882978
          %span
            book@peppershack.co.uk

  %h3.no-print= "Bill #{@order.id}: #{@order.state}"

  %table
    %tr.header.no-print
      %td.title
        = current_tenant.name
      %td
        &nbsp;
    != render partial: "orders/#{current_tenant.domain}/line_item", collection: @order.line_items.joins( {:variant => :item } ).order('items.grouping, items.rank, line_items.desc')
    %tr
      %td
        &nbsp;
    %tr.total
      %td
        Total
      %td.right
        = humanized_money_with_symbol(@order.net_home + @order.tax_home + @order.discount)

    - if  @order.discount > 0 && params[:offer].present?
      - params[:offer].each do |offer_name, amount|
        - if amount.to_d > 0
          %tr
            %td
              Less
              = offer_name
            %td.right
              = humanized_money_with_symbol(amount)

    - if @order.seating_id.blank? && @order.discount > 0
      %tr
        %td
          = "Less #{(CONFIG[:takeaway_discount].to_d * 100).to_i}% Takeaway"
        %td.right
          = humanized_money_with_symbol(@order.discount)

    - if @order.discount > 0
      %tr.total
        %td
          To Pay
        %td.right
          = humanized_money_with_symbol(@order.net_home + @order.tax_home)

    - if @order.tax_home > 0
      %tr
        %td
          %span
            = "Order #{@order.id}"
          %span.no-print
            = "(#{@order.state})"
        %td.right
          = "(VAT: #{humanized_money_with_symbol(@order.tax_home)})"
    %tr.footer
      %td
        = current_tenant.company
        = "Co. No. #{current_tenant.coho}"
      %td.right
        = @order.updated_at.strftime('%e-%b-%y')
  %p.no-print
    %span
      = link_to "Print",'#', id: 'print'
      |
    %span
      = link_to 'Amend Bill', check_in_meal_path(@order.id), method: :post, data: {confirm: 'Re-Create Order?'}, remote: true, class: 'no_ajaxify'
    -#- if @order.state == 'incomplete'
    -#  |
    -#  %span
    -#    = link_to 'Complete', status_order_path(@order.id, status: 'complete', bill: true), method: :post, data: {confirm: 'Complete Payment'}, remote: true, class: 'no_ajaxify'

    - if allow? :orders, :edit
      = form_for @order, url: {controller: 'orders', action: 'status', id: @order.id}, html: { class: 'no_ajaxify no-print'}, method: :post, remote: true, validate: true do |f|
        %fieldset
          = hidden_field_tag :bill, true
          = hidden_field_tag :due, (@order.net_home + @order.tax_home)
          = f.hidden_field :state
          = f.hidden_field :paid
          .row
            .large-4.columns
              = f.label :tip
              = f.text_field :tip
            .large-4.columns
              - total = (@order.paid > 0) ? @order.paid : (@order.net_home + @order.tax_home)
              = label_tag :total
              = text_field_tag :total, total
            .large-4.columns
              = f.submit 'Paid', id: 'bill_payment'
