#invoice
  #print-header.print-only
    %h1
      Pepper Shack
    %p.sub
      Brixham's Caribbean Restaurant & Bar
    %p.contact
      %span
        01803 882978
      %span
        book@peppershack.co.uk

  %h3.no-print= "Bill #{@order.id}: #{@order.state}"

  %table
    %tr.header.no-print
      %td.title
        = current_tenant.name
      %td
        &nbsp;
    != render partial: "orders/#{current_tenant.domain}/line_item", collection: @order.line_items.joins( {:variant => :item } ).order('items.grouping, items.rank, line_items.desc')
    %tr
      %td
        &nbsp;
    %tr.total
      %td
        Total
      %td.right
        = humanized_money_with_symbol(@order.net_home + @order.tax_home)

    - if @order.tax_home > 0
      %tr
        %td
          %span.no-print
            = @order.state
        %td.right
          = "(VAT: #{humanized_money_with_symbol(@order.tax_home)})"
    %tr.footer
      %td
        = current_tenant.company
        = "Co. No. #{current_tenant.coho}"
      %td.right
        = "[Order #{@order.id}]"
        = @order.updated_at.strftime('%e-%b-%y')
      -#%span
      -#  = "#{pluralize( @order.line_items.size, 'item')}"
  %p.no-print
    %span
      = link_to "Print",'#', id: 'print'
    %span
      = link_to 'Amend Bill', check_in_meal_path(@order.id), method: :post, data: {confirm: 'Re-Create Order?'}, remote: true, class: 'no_ajaxify'
    - if @order.state == 'incomplete'
      %span
        = link_to 'Complete', status_order_path(@order.id, status: 'complete', bill: true), method: :post, data: {confirm: 'Complete Payment'}, remote: true, class: 'no_ajaxify'

