%li
  %p
    %span
      = current_order.created_at.strftime('%H:%M %e %b')
    %span.title
      = link_to "#{current_order.desc.sub(/.*:/,"")}", order_path(current_order, bill: true), remote: true, class: 'no_ajaxify', title: 'View Order'
  %p
    %span
      = pounds(current_order.net_home + current_order.tax_home)
    - if current_order.tax_home > 0
      %span
        = "(#{pounds(current_order.net_home)} + #{pounds(current_order.tax_home)})"
    %span
      = "#{pluralize(current_order.line_items.sum('quantity')  , 'item')}"
  %p
    %span.title
      Paid
    %span
      - current_order.paid ||= 0
      - current_order.tip ||= 0
      = pounds(current_order.paid + current_order.tip)
    - if allow? :orders, :delete
      %span.title
        != link_to 'X', order_path( current_order ), method: :delete, remote: true, class: 'no_ajaxify',
          data: {  confirm: 'Delete Order?'}, title: "Delete Order"
    - if allow? :orders, :test
      %span.title
        != link_to '.', order_path( current_order, test: true ), method: :delete, remote: true, class: 'no_ajaxify',
          data: {  confirm: 'Remove Order?'}, title: "Remove Order"
  %p
    %span
      - cash = current_order.paid + current_order.tip - current_order.credit_card
      = "#{pounds(current_order.credit_card)}cc + #{pounds(cash)} #{pounds(current_order.tip)}T"
