#editor
#display
- unless @orders.empty?
  %ul#completed.aside.no-print
    %li.title
      %span
        Orders
    - @orders = @orders.order('id ASC')
    = render :partial => "orders/#{current_tenant.domain}/current_order", collection: @orders.where(state: 'complete')
    %li#summary
      %p
        %span.title
          = pluralize(@orders.size, 'Order')
      %p
        %span.title
          = "Paid"
        %span
          = "#{pounds(@orders.to_a.sum(&:paid_cents)/100.00)}"
      %p
        %span.title
          = "Card"
        %span
          = "#{pounds(@orders.to_a.sum(&:credit_card_cents)/100.00)}"
      %p
        %span.title
          = "Cash"
        %span
          = "#{pounds(@orders.to_a.sum(&:cash_cents)/100.00)}"
      %p
        %span.title
          = "Tips"
        %span
          = "#{pounds(@orders.to_a.sum(&:tip_cents)/100.00)}"
      - goods = @orders.to_a.sum(&:tip_cents)/100.00
      - if goods > 0
        %p
          %span.title
            = "Goods"
          %span
            = "#{pounds(goods)}"
