- hours = 0.00
- wages = 0.00
- tips = 0.00
- week_hours = 0.00
- week_wages = 0.00
- week_tips = 0.00
- month = params[:month].to_date.strftime('%B')
- if @timesheets.size > 0
  - timesheet_date = @timesheets.first.work_date
  - week = week_number(timesheet_date) #.to_date.strftime('%U')
  - hmrc_pay_week = HMRC_week_number(timesheet_date.beginning_of_week + 12.days)
  - week_start = week_start(timesheet_date)
#summary
  .row
    .field.large-12.columns.title
      = params[:month].to_date.strftime('%B %Y')
    .field.large-12.columns.sub.head
      = @employee.name
  - if @timesheets.size > 0
    - @timesheets.each do |timesheet|
      - daily = @dailies.where(account_date: timesheet.work_date, session: timesheet.session).first
      - tips_share = daily ? (daily.tips_cents / 100.00 || 0.00) / daily.headcount.to_d : 0
      - hours += timesheet.hours
      - wage = timesheet.pay.to_d
      - tip = (timesheet.session == 'bonus' ? 0 : tips_share )
      - if timesheet.work_date.to_date.strftime('%B')
        - tips += tip
        - wages += wage

      - current = week_number(timesheet.work_date)
      - if week != current
        .row
          .large-12.columns.sub.head
            = "W/b #{week_start} (HMRC #{hmrc_pay_week})" #"Week #{week}"
        .row.title
          .field.large-3.columns.sub
            Pay
          .field.large-5.columns.number.sub
            = pounds(week_wages)
          .field.large-4.columns.number.sub
            = week_hours
        .row
          .field.large-3.columns.sub
            Tips
          .field.large-5.columns.number.sub
            = pounds(week_tips)
          .field.large-4.columns.number.sub
            &nbsp;
        .row
          .field.large-4.columns.number.sub.head
            &nbsp;
          .field.large-3.columns.sub.head
            Total
          .field.large-5.columns.number.sub.head
            = pounds(week_tips + week_wages)
        - week = week_number(timesheet.work_date) #.to_date.strftime('%U')
        - hmrc_pay_week = HMRC_week_number(timesheet.work_date.beginning_of_week + 12.days)
        - week_start = week_start(timesheet.work_date)
        - week_hours = 0.00
        - week_wages = 0.00
        - week_tips = 0.00
      - week_hours += timesheet.hours
      - week_wages += wage
      - week_tips += tip
      .row
        .field.large-12.columns.id
          = "#{timesheet.work_date.strftime('%a')}, #{timesheet.work_date.strftime('%e').to_i.ordinalize} #{timesheet.work_date.strftime('%B')}"
          = "#{timesheet.session}" unless timesheet.session == 'dinner'
      .row.title
        .field.large-3.columns
          Pay
        .field.large-5.columns.number
          = "#{pounds(wage)}"
        .field.large-4.columns.number
          = timesheet.hours
      .row
        .field.large-3.columns
          Tips
        .field.large-5.columns.number
          = "#{pounds(tip)}"
        .field.large-4.columns.number
    .row
      .large-12.columns.sub.head
        = "W/b #{week_start} (HMRC #{hmrc_pay_week})" #"Week #{week}"
    .row.title
      .field.large-3.columns.sub
        Pay
      .field.large-5.columns.number.sub
        = pounds(week_wages)
      .field.large-4.columns.number.sub
        = week_hours
    .row
      .field.large-3.columns.sub
        Tips
      .field.large-5.columns.number.sub
        = pounds(week_tips)
      .field.large-4.columns.number.sub
        &nbsp;
    .row.head
      .field.large-4.columns.number.sub.head
        &nbsp;
      .field.large-3.columns.sub.head
        Total
      .field.large-5.columns.number.sub.head
        = pounds(week_tips + week_wages)
  .row.title
    .field.large-12.columns.title
      = "#{month} Totals"
  .row
    .field.large-3.columns
      = hours
    .field.large-5.columns.number
      = "#{pounds(wages)}"
    .field.large-4.columns.number
      = "#{pounds(tips)}"
