- employees = Employee.order(:first_name)
- employees = employees.where(live: true) if allow? :employees, :destroy
= form_for @timesheet, html: { class: 'no_ajaxify'}, remote: true, :validate => true  do |f|
  %fieldset
    .row
      .field.small-12.columns
        = f.label :employee_id
        = f.collection_select :employee_id, employees, 'id', 'first_name', include_blank: true
    .row
      .field.small-12.columns
        = f.label :start_time, 'Start'
        = f.select :start_time, grouped_options_for_select(get_times('blank', 'timesheet'), @timesheet.start_time.strftime('%H:%M'), divider: 'Shift')
    .row
      .field.small-12.columns.left
        = f.label :end_time, 'Finish'
        = f.select :end_time, grouped_options_for_select(get_times('blank', 'timesheet'), @timesheet.end_time.strftime('%H:%M'), divider: 'Shift')
    .row
      .field.small-12.columns
        = f.label :pay, 'Amount'
        = f.text_field :pay
      .field.small-12.columns.left
        = f.label :session, 'Type'
        = f.select :session, options_for_select(Element.where(kind: 'sessions').order(:rank).map(&:name), @timesheet.session)
    .row
      .field.small-12.columns
        = f.label :work_date
        = f.date_field :work_date
    .row
      .field.small-12.columns.left
        = f.submit 'Save'
