= form_for @wage  do |f|
  %fieldset
    .row
      = hidden_field_tag :editor, true
      = hidden_field_tag :week, params[:week]
      = hidden_field_tag :timesheets, params[:week]
      .field.small-1.columns.headings
        = link_to @wage.employee.first_name, edit_wage_path(@wage, timesheets: params[:week])
        %br
          = (@wage.posts.size > 0 ? 'OK' : '')

      .field.small-1.columns
        = "#{@wage.hours}"
        %br
        %span.minor
          = "#{pounds(@wage.rate)}"
      .field.small-1.columns
        = pounds(@wage.gross)
        %br
        %span.minor
          = "#{pounds(@wage.tips)}"
      .field.small-1.columns
        = pounds(@wage.bonus) if @wage.bonus && @wage.bonus > 0
        %br
        %span.minor
          = "#{pounds(@wage.holiday)}" if @wage.holiday && @wage.holiday > 0
      .field.small-1.columns
        - gross = @wage.gross + @wage.tips + @wage.bonus + @wage.holiday
        - net = gross - (@wage.paye + @wage.ni_employee + @wage.ni_employer)
        = pounds(net)
        %br
        %span.minor
          = "#{pounds(gross)}" unless (net == gross)
      .field.small-1.columns
        = f.text_field :paye
      .field.small-1.columns
        = f.text_field :ni_employee
      .field.small-1.columns
        = f.text_field :ni_employer
      .field.small-3.columns
        = f.date_field :paid_date
      .field.small-1.columns
        = f.submit 'Save'