%span.head.box
  = "#{arrival.seating.booking.pax}"
  = button_to 'Pholourie', patcher_meal_url(arrival, pholourie: true, monitor: true), id: arrival.id, form_class: 'no_ajaxify inline', remote: true
  = "(T#{arrival.tabel_name})"