%ul#order

  %li.title
    - if @meal.seating
      %span
        != link_to "Food", edit_meal_path( @meal, choices: 'food'), remote: true, class: 'no_ajaxify'
        Table
        = @meal.tabel_name
        != link_to "Drinks",  edit_meal_path( @meal, choices: 'drinks'), remote: true, class: 'no_ajaxify'
    -else
      - if current_user.id.blank?
        != link_to "Food Menu", takeaway_meal_path( @meal, choices: 'food'), remote: true, class: 'no_ajaxify'
      - else
        != link_to "Food", edit_meal_path( @meal, choices: 'food'), remote: true, class: 'no_ajaxify'
      = @meal.state.capitalize
  %li
    - if @meal.seating
      != @meal.seating.booking.customer_name
    - elsif allow? :users, :index
      != "TA: #{@meal.id}"
  #line_items
    = render 'meals/line_items'
  - if allow? :meals, :edit
    = button_to 'Bin', meal_path(@meal), method: :delete, remote: true, form_class: 'no_ajaxify',
      data: { confirm: 'Delete Order?' }
  - unless @meal.seating
    %li
      = form_for @meal, :url => { controller: "meals", action: "patcher"}, html: { class: 'no_ajaxify'}, method: 'patch', remote: true, validate: true do |f|
        %fieldset
          .row
            .large-12.columns
              = f.label :contact, 'Contact'
              = f.text_field :contact, placeholder: 'name'
          .row
            .large-12.columns
              = f.label :phone, 'Phone', placeholder: 'phone'
              = f.text_field :phone, placeholder: 'your number'
          .row
            .large-6.columns
              = f.submit 'Save Contact'

