#editor.no-print
%ul#meal.no-print
  = render 'meals/tables'
- unless params[:short].present?
  #display.no-print
    = render 'bookings/dated'
    - unless @table_view == true
      #takeaway
        = render 'meals/takeaway'
      = render 'bookings/requested'
      - if allow? :orders, :index
        != render "orders/#{current_tenant.domain}/current"
      = render 'bookings/cleared'
