- if @course != line_item.variant.item.grouping
  - @course = line_item.variant.item.grouping
  - component_title = make_title(@course.split(':')[1] ).pluralize
  %li.category
    %span
      = link_to component_title, choice_path(line_item.variant.item.category.parent.name), data: { tooltip:  true}, title: "View #{@component_title}"
%li
  - unless line_item.net_total_item == 0

    = line_item.quantity
    x

    %span.title
      = link_to line_item.desc, choice_path(line_item.variant.item.category.parent.name, meal_id: @meal.id, filter: line_item.variant.item.category.name), data: { tooltip:  true}, title: "View #{make_title(line_item.variant.item.category.name)} #{@component_title}"
    - unless line_item.choices.blank?
      - line_item.choices.each do |k,v|
        = make_title(v)
    - unless line_item.options.blank?
      %br
      = line_item.options
    %br
    - if @takeaway_editable
      = link_to '+', meal_item_path( line_item.id, act: 'add'), method: :patch, remote: true, class: 'no_ajaxify', data: { tooltip:  true}, title: "Add one"
      = link_to '-', meal_item_path( line_item.id, act: 'subtract'), method: :patch, remote: true, class: 'no_ajaxify', data: { tooltip:  true}, title: "Subtract one"
      = link_to 'x', meal_item_path( line_item), method: :delete, remote: true, class: 'no_ajaxify', data: { tooltip:  true}, title: "Remove this item"
    = humanized_money_with_symbol(line_item.net_total_item + line_item.tax_total_item)
    = " @ #{humanized_money_with_symbol(line_item.net_item + line_item.tax_item)}"
    - unless @meal.seating_id.blank?
      = link_to 'MAIN', meal_item_path( line_item.id, act: 'main'), method: :patch, remote: true, class: 'no_ajaxify', data: { tooltip:  true}, title: "Serve as Main"
    %br

  - line_item.children.each do |option|
    = option.quantity
    x
    %span.title
      = make_title(option.desc)
    %br
    - if @takeaway_editable
      = link_to '+', meal_item_path( option.id, act: 'add', option: true), method: :patch, remote: true, class: 'no_ajaxify'
      = link_to '-', meal_item_path( option.id, act: 'subtract', option: true), method: :patch, remote: true, class: 'no_ajaxify'
      = link_to 'x', meal_item_path( option, option: true), method: :delete, remote: true, class: 'no_ajaxify'
    = option.net_total_item + option.tax_total_item
    = " ~ #{humanized_money_with_symbol(option.net_item + option.tax_item)}"
    %br