- meal = monitor_line_item.ownable
- if @course != monitor_line_item.variant.item.grouping
  - @course = monitor_line_item.variant.item.grouping
  - course_name = @course.split(':')[1]

  - @active = get_active(meal, course_name)
  - @component_title = make_title(course_name).pluralize
  - @not_required = meal.state != 'confirmed' && ( course_name == 'starter' && !meal.state.include?('starter') || course_name == 'main' && !['starter','main'].include?(meal.state.gsub(/_ready/,'').gsub(/_served/,''))) && meal.state != 'ordered'
  %li
    = course_name
    = meal.state
    = @active
  - unless @not_required
    %li.category{class: @active}
      %span
        = @component_title
      - if @active == 'active' && ['starter', 'main', 'dessert', 'ordered', 'confirmed'].include?(meal.state)
        %span.right
          - if meal.seating_id.blank?
            - state = "checkout"
          -else
            - state = course_name + "_ready"
          = button_to 'Ready', patcher_meal_url(meal, state: state, monitor: true)
      - if @active == 'ready' && !meal.seating_id.blank?
        %span.right
          - action = 'served'
          - state = course_name + "_#{action}"
          = button_to action.capitalize, patcher_meal_url(meal, state: state, monitor: true)
      - if @active == 'served'
        %span.right
          - state = course_name + "_complete"
          = button_to 'Complete', patcher_meal_url(meal, state: state, monitor: true)
- unless @not_required
  %li{class: @active}
    - unless monitor_line_item.net_total_item == 0
      %span
        = "#{monitor_line_item.quantity} x"
      %span.title
        = monitor_line_item.desc
      - unless monitor_line_item.choices.blank?
        %span
          - monitor_line_item.choices.each do |k,v|
            = make_title(v)
      - unless monitor_line_item.options.blank?
        %span
          = make_title(monitor_line_item.options)

    - monitor_line_item.children.each do |option|
      %span
      = "#{option.quantity} x "
      %span.title
        = make_title(option.desc)