%ul#order
  %li.title
    %span
      - if current_user.id.blank?
        - unless @no_line_item.present?
          Your takeaway order has been received
          = "TA#{@meal.id} for #{@meal.start_time.strftime('%H:%M')}"
        - else
          Sorry, you forgot to order anything!
      - elsif @meal.seating_id.blank?
        = "Takeaway #{@meal.id} at #{Time.now.strftime('%H:%M')} [Pick-up: #{@meal.start_time.strftime('%H:%M')}, #{@meal.contact}]"
      - else
        Table
        = @meal.tabel_name
        = "Order #{@meal.id} at #{Time.now.strftime('%H:%M')}"
  - unless @meal.notes.blank?
    %li
      %span.head
        = "*** #{@meal.notes} ***"
  - @course = ''
  - line_items = @meal.line_items.joins( {variant: { item: {category: :root } } }).where("roots_categories.name = 'food'").order('items.grouping, items.rank, line_items.desc')

  = render partial: 'meals/line_item_order', collection: line_items
  - unless current_user.id.blank?
    %li.no-print
      %span
        = link_to "Print",'#', id: 'print'
:coffeescript
  jQuery ->
    $('div#editor').html('')

