%ul
  %li.wide
    %p.center
      %span.head
        Live Orders
  - if ((@meals.size + @takeaways.size) == 0)
    %p.center
      %span
        Nothing currently due
  - else
    - if @meals.size > 0
      - @starters = Hash.new { 0 }
      - @mains = Hash.new { 0 }
      - @sides = Hash.new { 0 }
      %ul.menu-item.small-block-grid-1.medium-block-grid-3.large-block-grid-4
        = render partial: 'meal_order', collection: @meals
        - package = 'Current'
        - if @starters.size > 0
          %li.tabel
            %span.head
              = "#{package} Starters"
            %ul.tabel
              - @starters.sort_by{|k,v| k}.each do |k, v|
                %li

                  = "#{v} x #{k}"
        - if (@mains.size + @sides.size) > 0
          %li.tabel
            - if @mains.size > 0
              %span.head
                = "#{package} Mains"
              %ul.tabel
                - @mains.sort_by{|k,v| k}.each do |k, v|
                  %li
                    = "#{v} x #{k}"

            - if @sides.size > 0
              %span.head
                = "#{package} Sides"
              %ul.tabel
                - @sides.sort_by{|k,v| k}.each do |k, v|
                  %li
                    = "#{v} x #{k}"

    - if @afters.size > 0
      - @desserts = Hash.new { 0 }
      %ul.menu-item.small-block-grid-1.medium-block-grid-3.large-block-grid-4
        = render partial: 'meal_order', collection: @afters
        - if @desserts.size > 0
          %li.tabel
            %span.head
              = "#{package} Desserts"
            %ul.tabel
              - @desserts.sort_by{|k,v| k}.each do |k, v|
                %li
                  = "#{v} x #{k}"


    - if @takeaways.size > 0
      - @starters = Hash.new { 0 }
      - @mains = Hash.new { 0 }
      - @sides = Hash.new { 0 }
      - @desserts = Hash.new { 0 }
      %ul.menu-item.small-block-grid-1.medium-block-grid-3.large-block-grid-4
        = render partial: 'meal_order', collection: @takeaways
        - package = ''
        %li.tabel
          - if @starters.size > 0
            %span.head
              = "#{package} Starters"
            %ul.tabel
              - @starters.sort_by{|k,v| k}.each do |k, v|
                %li
                  = "#{v} x #{k}"

          - if @mains.size > 0
            %span.head
              = "#{package} Mains"
            %ul.tabel
              - @mains.sort_by{|k,v| k}.each do |k, v|
                %li
                  = "#{v} x #{k}"
          - if @sides.size > 0
            %span.head
              = "#{package} Sides"
            %ul.tabel
              - @sides.sort_by{|k,v| k}.each do |k, v|
                %li
                  = "#{v} x #{k}"

          - if @desserts.size > 0
            %span.head
              = "#{package} Desserts"
            %ul.tabel
              - @desserts.sort_by{|k,v| k}.each do |k, v|
                %li
                  = "#{v} x #{k}"
