= form_tag accounting_index_path, method: :get do
  .row.search.no-print
    .field.small-3.columns
      = label_tag :period, 'Period'
      = select_tag :period, options_from_collection_for_select(@periods, "name", "name", @period), include_blank: true
    .field.small-3.columns
      = label_tag :account_date_gteq, 'From'
      = date_field_tag :account_date_gteq, @start
    .field.small-3.columns.left
      = label :account_date_lteq, 'Until'
      = date_field_tag :account_date_lteq, @stop
  .row.search.no-print
    .actions.small-3.columns.left
      = submit_tag 'Fetch'

.row
  .large-12.columns
    %h5
      = "VAT Summary: #{@start ? @start.to_date.strftime('%-d %b %y') : ''} to #{@stop ? @stop.to_date.strftime('%-d %b %y') : ''}"
.row
  .large-3.columns.title
    VAT due
  .large-2.columns.left
    = pounds(@vat_received - @vat_paid)

  .large-1.columns.title
    &nbsp;
  .large-3.columns.title
    &nbsp;
  .large-2.columns.left
    &nbsp;
.row
  .large-2.columns.title
    VAT Received
  .large-2.columns.left
    = pounds(@vat_received)
  .large-2.columns.title
    &nbsp;
  .large-2.columns.title
    Sales
  .large-2.columns.left
    = pounds(@sales)
.row
  .large-2.columns.title
    VAT Paid
  .large-2.columns.left
    = pounds(@vat_paid)
  .large-2.columns.title
    &nbsp;
  .large-2.columns.title
    Purchases
  .large-2.columns.left
    = pounds(@cogs + @overheads + @fixed_assets)
.row
  .large-12.columns
    %h5
      = "Account Summary: #{@start ? @start.to_date.strftime('%-d %b %y') : ''} to #{@stop ? @stop.to_date.strftime('%-d %b %y') : ''}"
.row
  .large-3.columns.title
    Revenue
  .large-2.columns.left
    = pounds(@sales + @interest)
  .large-1.columns.title
    &nbsp;
  .large-3.columns.title
    Expenses
  .large-2.columns.left
    = pounds(@direct_costs + @overheads + @depreciation + @amortisation)
.row
  .large-2.columns.title
    Sales
  .large-3.columns.left
    = pounds(@sales)
  .large-1.columns.title
    &nbsp;
  .large-2.columns.title
    Direct Costs
  .large-3.columns.left
    = pounds(@direct_costs)
.row
  .large-2.columns.title
    Interest
  .large-3.columns.left
    = pounds(@interest)
  .large-1.columns.title
    &nbsp;
  .large-1.columns.title
    COGS
  .large-3.columns.left
    = pounds(@cogs)
.row
  .large-2.columns.title
    &nbsp
  .large-3.columns.left
    &nbsp
  .large-1.columns.title
    &nbsp;
  .large-1.columns.title
    Payroll
  .large-3.columns.left
    = pounds(@payroll_costs)
.row
  .large-2.columns.title
    Pending Sales
  .large-3.columns.left
    = pounds(@sales_pending)
  .large-1.columns.title
    &nbsp;
  .large-2.columns.title
    Overheads
  .large-3.columns.left
    = pounds(@overheads)
.row
  .large-2.columns.title
    &nbsp;
  .large-3.columns.left
    &nbsp;
  .large-1.columns.title
    &nbsp;
  .large-2.columns.title
    Depreciation
  .large-3.columns.left
    = pounds(@depreciation)
.row
  .large-2.columns.title
    &nbsp;
  .large-3.columns.left
    &nbsp;
  .large-1.columns.title
    &nbsp;
  .large-2.columns.title
    Amortisation
  .large-3.columns.left
    = pounds(@amortisation)
.row
  .large-12.columns
    %h5
      = "Fixed Assets: #{@start ? @start.to_date.strftime('%-d %b %y') : ''} to #{@stop ? @stop.to_date.strftime('%-d %b %y') : ''}"
.row
  .large-3.columns.title
    Start of Period
  .large-2.columns.left
    = pounds(@fixed_assets_previous - @depreciation_previous)
  .large-2.columns.title
    &nbsp;
  .large-2.columns.title
    &nbsp;
  .large-2.columns.left
    &nbsp;
.row
  .large-2.columns.title
    Additions
  .large-3.columns.left
    = pounds(@fixed_assets)
  .large-1.columns.title
    &nbsp;
  .large-2.columns.title
    &nbsp;
  .large-3.columns.left
    &nbsp;
.row
  .large-2.columns.title
    Depreciation
  .large-3.columns.left
    = pounds(@depreciation)
  .large-1.columns.title
    &nbsp;
  .large-2.columns.title
    &nbsp;
  .large-3.columns.left
    &nbsp;
.row
  .large-3.columns.title
    End of Period
  .large-2.columns.left
    = pounds(@fixed_assets_previous + @fixed_assets - (@depreciation_previous + @depreciation))
  .large-2.columns.title
    &nbsp;
  .large-2.columns.title
    &nbsp;
  .large-2.columns.left
    &nbsp;
.row
  .large-12.columns
    %h5
      = "Overheads Breakdown: #{@start ? @start.to_date.strftime('%-d %b %y') : ''} to #{@stop ? @stop.to_date.strftime('%-d %b %y') : ''}"
.row
  .large-3.columns.title
    Overheads
  .large-2.columns.left
    = pounds(@overheads)
  .large-1.columns.title
    &nbsp;
  .large-3.columns.title
    &nbsp;
  .large-2.columns.left
    &nbsp;
- @grouped_overheads.each do |overhead|
  .row
    .large-2.columns.title
      = overhead.name
    .large-3.columns.left
      - cost = overhead.total_cost.to_i  / 100.00
      = pounds( cost )

