= form_tag accounting_index_path, method: :get do
  .row.search.no-print
    .field.small-3.columns
      = label_tag :period, 'Period'
      = select_tag :period, options_from_collection_for_select(@periods, "name", "name", @period), include_blank: true
    .field.small-3.columns
      = label_tag :account_date_gteq, 'From'
      = date_field_tag :account_date_gteq, @start
    .field.small-3.columns.left
      = label :account_date_lteq, 'Until'
      = date_field_tag :account_date_lteq, @stop
  .row.search.no-print
    .actions.small-3.columns.left
      = submit_tag 'Fetch'

.row
  .large-1.columns.title
    &nbsp;
  .large-4.columns
    %h5
      = "#{@start ? @start.to_date.strftime('%-d %b %y') : ''} to #{@stop ? @stop.to_date.strftime('%-d %b %y') : ''}"
  .large-6.columns.left
    %h5
      = "Gross Profit: #{pounds(@sales + @interest - (@direct_costs + @overheads + @disallowed + @depreciation + @amortisation))}"
      =  "#{pounds(@sales + @interest + @vat_received - (@direct_costs + @overheads + @disallowed + @depreciation + @amortisation + @vat_paid))}"
.row
  .large-2.columns.title
    Revenue
  .large-3.columns.left
    = pounds(@sales + @interest)
    = pounds(@sales + @interest + @vat_received - @vat_paid)
  .large-1.columns.title
    &nbsp;
  .large-2.columns.title
    Expenses
  .large-3.columns.left
    = pounds(@direct_costs + @overheads + @disallowed + @depreciation + @amortisation)
.row
  .large-1.columns.title
    &nbsp;
  .large-2.columns.title
    Sales
  .large-2.columns.left
    = pounds(@sales)
  .large-2.columns.title
    &nbsp;
  .large-2.columns.title
    Direct Costs
  .large-2.columns.left
    = pounds(@direct_costs)
.row
  .large-1.columns.title
    &nbsp;
  .large-2.columns.title
    Interest
  .large-2.columns.left
    = pounds(@interest)
  .large-3.columns.title
    &nbsp;
  .large-2.columns.title
    COGS
  .large-1.columns.left
    = pounds(@cogs)
.row
  .large-1.columns.title
    &nbsp
  .large-2.columns.left
    Pending Sales
  .large-2.columns.title
    = pounds(@sales_pending);
  .large-3.columns.title
    &nbsp;
  .large-2.columns.title
    Payroll
  .large-1.columns.left
    = pounds(@payroll_costs)
.row
  .large-2.columns.title
    Consumables
  .large-3.columns.left
    = pounds(@cogs + @overheads)
  .large-1.columns.title
    &nbsp;
  .large-1.columns.title
    &nbsp;
  .large-2.columns.title
    Overheads
  .large-3.columns.left
    = pounds(@overheads)
.row
  .large-2.columns.title
    &nbsp
  .large-3.columns.left
    &nbsp
  .large-2.columns.title
    &nbsp;
  .large-2.columns.title
    Disallowed
  .large-3.columns.left
    = pounds(@disallowed)
.row
  .large-2.columns.title
    Prepayments
  .large-3.columns.left
    = pounds(@prepayments)
  .large-2.columns.title
    &nbsp;
  .large-2.columns.title
    Depreciation
  .large-3.columns.left
    = pounds(@depreciation)
.row
  .large-2.columns.title
    &nbsp;
  .large-3.columns.left
    &nbsp;
  .large-2.columns.title
    &nbsp;
  .large-2.columns.title
    Amortisation
  .large-3.columns.left
    = pounds(@amortisation)
.large-6.columns
  .row
    %h5
      = "VAT Summary:"
  .row
    .large-4.columns.title
      VAT due
    .large-4.columns.left
      = pounds(@vat_received - @vat_paid)
  .row
    .large-4.columns.title
      VAT Received
    .large-4.columns.left
      = pounds(@vat_received)
  .row
    .large-4.columns.title
      VAT Paid
    .large-4.columns.left
      = pounds(@vat_paid)
  .row
    .large-4.columns.title
      Sales
    .large-4.columns.left
      = pounds(@sales)
  .row
    .large-4.columns.title
      Purchases
    .large-4.columns.left
      = pounds(@cogs + @overheads + @fixed_assets)
.large-6.columns
  .row
    %h5
      = "Fixed Assets:"
  .row
    .large-4.columns.title
      Start of Period
    .large-4.columns.left
      = pounds(@fixed_assets_previous - @depreciation_previous)
  .row
    .large-1.columns.title
      &nbsp;
    .large-4.columns.title
      Tangible
    .large-4.columns.left
      = pounds(@tangibles_previous - @tangible_depreciation_previous)
  .row
    .large-1.columns.title
      &nbsp;
    .large-4.columns.title
      Intangible
    .large-4.columns.left
      = pounds(@intangibles_previous - @intangible_depreciation_previous)
  .row
    .large-4.columns.title
      Depreciation
    .large-4.columns.left
      = pounds(@depreciation + @amortisation)
  .row
    .large-1.columns.title
      &nbsp;
    .large-4.columns.title
      Tangible
    .large-4.columns.left
      = pounds(@depreciation)
  .row
    .large-1.columns.title
      &nbsp;
    .large-4.columns.title
      Intangible
    .large-4.columns.left
      = pounds(@amortisation)
  .row
    .large-2.columns.title
      Additions
    .large-2.columns.left
      = pounds(@fixed_assets)
  .row
    .large-1.columns.title
      &nbsp;
    .large-4.columns.title
      Tangible
    .large-4.columns.left
      = pounds(@tangibles)
  .row
    .large-1.columns.title
      &nbsp;
    .large-4.columns.title
      Intangible
    .large-4.columns.left
      = pounds(@intangibles)
  .row
    .large-4.columns.title
      End of Period
    .large-4.columns.left
      = pounds(@fixed_assets_previous + @fixed_assets - (@depreciation_previous + @depreciation))
  .row
    .large-1.columns.title
      &nbsp;
    .large-4.columns.title
      Tangible
    .large-4.columns.left
      = pounds(@tangibles_previous + @tangibles - (@tangible_depreciation_previous + @depreciation))
  .row
    .large-1.columns.title
      &nbsp;
    .large-4.columns.title
      Intangible
    .large-4.columns.left
      = pounds(@intangibles_previous + @intangibles - (@intangible_depreciation_previous +  + @amortisation))

- directors = 0
- payroll = 0
- legal = 0
- accountancy = 0
- consultancy = 0
- light_heat = 0
- rent_rates = 0
- maintenance = 0
- advertising = 0
- bad_debts = 0
- bank_charges = 0
- depreciation = 0
- insurance = 0
- travel = 0
- vehicle = 0
- admin = 0
- sundry = 0
- total = 0

- @grouped_overheads.each do |overhead|
  - cost = overhead.total_cost.to_i  / 100.00
  - total += cost
  - case overhead.name
    - when 'Directors Pay'
      - directors += cost
    - when ''
      - payroll += cost
    - when 'Legal & Professional'
      - legal += cost
    - when 'Accountancy'
      - accountancy += cost
    - when 'Consultancy'
      - consultancy += cost
    - when 'Heat & Light'
      - light_heat += cost
    - when 'Rent','Rates'
      - rent_rates += cost
    - when 'Maintenance'
      - maintenance += cost
    - when 'Advertising & Signage'
      - advertising += cost
    - when 'Bad Debts'
      - bad_debts += cost
    - when 'Bank Charges','Merchant Fees'
      - bank_charges += cost
    - when 'Depreciation','Amortisation'
      - depreciation += cost
    - when 'Insurance'
      - insurance += cost
    - when 'Transport & Travel'
      - travel += cost
    - when 'Car'
      - vehicle += cost
    - when 'Mobile Phone','Internet & Comms','Software & Licenses','Kitchen & Bar','Decor & Sound','Office','Hardware & Electrical','Books','Books: E','Training','Subscriptions','Shipping'
      - admin += cost
    - when 'Laundry','Cleaning','Software & Licenses','Waste Disposal','Pest Control','Regulatory','Books','Books: E','Training','Subscriptions','Shipping'
      - admin += cost
    - when 'Sundry Overhead','Cash Adjustment', 'Community','Subs & Licenses','Fines'
      - sundry += cost
    - else
      - sundry += cost
.row
  .large-6.columns
    %h5
      = "CT600: #{pounds(@overheads + @payroll_costs)}"
    .row
      .large-7.columns.title
        Consumables
      .large-4.columns.left
        = pounds( @direct_costs + @overheads )
    .row
      .large-7.columns.title
        Payroll
      .large-4.columns.left
        = pounds( directors + @payroll_costs )
    .row
      .large-1.columns.title
        &nbsp;
      .large-7.columns.title
        Directors Remuneration
      .large-4.columns.left
        = pounds( directors )
    .row
      .large-1.columns.title
        &nbsp;
      .large-7.columns.title
        Wages
      .large-4.columns.left
        = pounds( @payroll_costs )
    .row
      .large-7.columns.title
        Legal & Professional
      .large-4.columns.left
        = pounds( legal )
    .row
      .large-7.columns.title
        Accountancy & Audit
      .large-4.columns.left
        = pounds( accountancy )
    .row
      .large-7.columns.title
        Consultancy
      .large-4.columns.left
        = pounds( consultancy )
    .row
      .large-7.columns.title
        Property Costs
      .large-4.columns.left
        = pounds( light_heat + rent_rates + maintenance )
    .row
      .large-1.columns.title
        &nbsp;
      .large-7.columns.title
        Light & Heat
      .large-4.columns.left
        = pounds( light_heat )
    .row
      .large-1.columns.title
        &nbsp;
      .large-7.columns.title
        Rent & Rates
      .large-4.columns.left
        = pounds( rent_rates )
    .row
      .large-1.columns.title
        &nbsp;
      .large-7.columns.title
        Repairs & Maintenance
      .large-4.columns.left
        = pounds( maintenance )
    .row
      .large-7.columns.title
        Advertising
      .large-4.columns.left
        = pounds( advertising )
    .row
      .large-7.columns.title
        Bad debts
      .large-4.columns.left
        = pounds( bad_debts )
    .row
      .large-7.columns.title
        Bank & Merchant
      .large-4.columns.left
        = pounds( bank_charges )
    .row
      .large-7.columns.title
        Depreciation
      .large-4.columns.left
        = pounds( depreciation )
    .row
      .large-7.columns.title
        Insurance
      .large-4.columns.left
        = pounds( insurance )
    .row
      .large-7.columns.title
        Travel & Subsistence
      .large-4.columns.left
        = pounds( travel )
    .row
      .large-7.columns.title
        Vehicle
      .large-4.columns.left
        = pounds( vehicle )
    .row
      .large-7.columns.title
        Admin & Office
      .large-4.columns.left
        = pounds( admin )
    .row
      .large-7.columns.title
        Sundry
      .large-4.columns.left
        = pounds( sundry )

  .large-6.columns
    %h5
      = "Overheads: #{pounds(@overheads)}"
    - @grouped_overheads.each do |overhead|
      .row
        .large-7.columns.title
          = overhead.name
        .large-4.columns.left
          - cost = overhead.total_cost.to_i  / 100.00
          = pounds( cost )
-#
-#
-#
-#
-#
-#
-#.row
-#  .large-6.columns
-#    .row
-#      .large-4.columns.title
-#        COGS
-#      .large-6.columns.left
-#        = pounds(@cogs)
-#    -#- @grouped_cogs.each do |cog|
-#      -#.row
-#      -#  .large-1.columns.title
-#      -#    &nbsp;
-#      -#  .large-7.columns.title
-#      -#    = cog.name
-#      -#  .large-4.columns.left
-#      -#    - cost = cog.total_cost.to_i  / 100.00
-#      -#    = pounds( cost )
-#  .large-6.columns
-#
