%table
  %tr
    %th Item
    %th Price
    %th Default
    %th Stock
    %th Due
    %th
    %th
    %th
    %th
    %th

  - @variants.each do |variant|
    %tr
      - clas = variant.desc.blank? ? 'no-tip' : 'has-tip'
      %td{class: clas, title: variant.desc }
        = variant.item.name
        = ": #{variant.name}" unless variant.name == 'default'
      %td= humanized_money_with_symbol variant.price
      %td= variant.item_default
      %td= variant.stock
      %td= variant.available_on
      - pic = variant.pics.empty? ? 'Pics' : image_tag( variant.pics.first.image_url(:thumb) )
      %td= link_to pic, pics_url(:variant_id => variant.id)
      %td= variant.pics.size
      %td= link_to 'Show', variant
      %td= link_to 'Edit', edit_variant_path(variant)
      %td= link_to 'Destroy', variant, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= button_to 'New Variant', new_variant_path( :item_id => @item.id), method: :get

