.row
  .field.small-3.columns
    = label_tag :ni_employer
    = text_field_tag :ni_employer, nil, class: 'allocation'
  .field.small-3.columns
    = label_tag :ni_employee
    = text_field_tag :ni_employee, nil, class: 'allocation'
  .field.small-3.columns.left
    = label_tag :paye
    = text_field_tag :paye, nil, class: 'allocation'
