.allocations
  .row
    .field.small-2.columns= order.effective_date.strftime("%-d %b %y")
    %span.small-1.columns
      = order.id
      = hidden_field_tag 'order_id[]', order.id
    %span.small-1.columns
      Total
      = total = order.net_total + order.tax_total
    %span.small-1.columns
      Paid
      = order.paid
    %span.small-1.columns.due
      Due
      = total - order.paid
    .field.small-1.columns
      = check_box_tag 'allocated[]', order.id, false, class: 'allocate'
    .field.small-2.columns
      = text_field_tag 'amount[]', 0, class: 'allocation'




