=# button_to 'New Payment', new_payment_path, method: :get
= button_to 'HMRC', new_payment_path(type: 'HMRC'), method: :get
= button_to 'VAT', new_payment_path(type: 'VAT'), method: :get

%table
  %tr
    %th Payment date
    %th Bank
    %th Recipient
    %th
    %th Exchange rate
    %th
    %th
    %th
    %th

  - @payments.each do |payment|
    %tr
      %td= payment.payment_date
      %td= payment.bank.name
      %td= payment.payable.name if payment.payable
      %td= humanized_money_with_symbol(payment.amount)
      %td= payment.amount_currency
      %td= payment.exchange_rate
      %td= payment.state
      %td= link_to 'Show', payment
      %td= link_to 'Edit', edit_payment_path(payment)
      %td= link_to 'Destroy', payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

