- @categories = get_categories( params[:root_category] || @item.category.root.name )         #  @categories = get_categories( )

= form_for @item, :validate => true, :class => "no_ajaxify"  do |f|
  %fieldset
    %legend= "Item#{@item.id}: " + ( @item.name || "new" )
    = hidden_field_tag :root_category, params[:root_category]
    .row
      .field.small-4.columns
        = f.label :name
        = f.text_field :name
      .field.small-1.columns
        = f.label :rank
        = f.text_field :rank
      .field.small-2.columns.left
        = f.label :product_flow
        = collection_select(:item, :product_flow,
          Element.where("kind = 'product_flow'").order(:rank), :name, :name, include_blank: true)
      .field.small-2.columns.left
        = f.label :unique
        = f.check_box :unique
    .row
      .field.small-2.columns.left
        = f.label :withdrawn
        = f.check_box :withdrawn #, :class => 'block'
      .field.small-2.columns.left
        = f.label :available
        = f.check_box :available
      .field.small-2.columns.left
        = f.label :stock_item
        = f.check_box :stock_item
      .field.small-1.columns.left
        = f.label :collapse
        = f.check_box :collapse
      .field.small-3.columns.left
        = f.label :stock_base_id
        = collection_select(:item, :stock_base_id, @stock_bases, :id, :name,  include_blank: true )   # { multiple: true, size: 5, include_blank: true})
      .field.small-1.columns.left
        = f.label :stock_base_part, 'Parts'
        = f.text_field :stock_base_part
    .row
      .field.small-3.columns
        = f.label :category, 'Category'
        = f.grouped_collection_select :category_id, @categories, :categories, :nice_name, :id, :nice_name,
          :include_blank => true
      .field.small-3.columns.left
        = f.label :grouping
        = f.text_field :grouping
    .row
      .field.small-3.columns
        = f.label :choices
        = f.collection_select :choices, Element.where(:kind => 'item_choices'), 'name', 'name', {}, { multiple: true, size: 4 }
      .field.small-3.columns.left
        = f.label :options
        = f.collection_select :options, Element.where(:kind => 'item_options'), 'name', 'name', {}, { multiple: true, size: 4 }
    .row
      .field.small-2.columns
        = f.label :price
        = f.text_field :price
      .field.small-2.columns.left
        = f.label :remote_order
        = f.check_box :remote_order
      .field.small-2.columns.left
        = f.label :vat_rate
        = collection_select(:item, :vat_rate,
          Element.where("kind = 'vat_rate'").order(:rank), :name, :name, include_blank: true)
      .field.small-3.columns.left
        = f.label :sups, 'Suppliers'
        = f.collection_select :sups, get_suppliers( @item.category_id), 'id', 'name', {}, {:multiple => true}
    .row
      .field.small-8.columns
        = f.label :description
        = f.text_area :description
    .row
      .field.small-8.columns
        = f.label :notes
        = f.text_area :notes
    .row
      .field.small-8.columns
        = f.label :slug
        = f.text_field :slug

    .row
      .actions
        = f.submit 'Save'
