- stocks = item.stocks.order('stock_date DESC')
- stocks = stocks.where(item_option: @option) if @option
= form_for item  do |f|
  - if stocks.empty?
    - item.stock_date = nil
    - item.stock_level = nil
  - else
    - item.stock_date = stocks.first.stock_date
    - item.stock_level = stocks.first.stock_level
  %fieldset.compact
    .row
      .field.small-3.columns.righty
        %b
          = link_to item.name, stocks_path(item_id: item.id, option: @option), remote: true, class: 'no_ajaxify'
        - if @option
          %br
          = hidden_field_tag :option, @option
          = @option.titleize.gsub(/_/,' ').gsub(/ And /,' and ')
        = hidden_field_tag :grouping, @q.grouping_eq
        = hidden_field_tag :name, @q.name_cont
      .field.small-2.columns
        = f.number_field :stock_level, class: 'level'
      .field.small-3.columns
        = f.date_field :stock_date
      .field.small-1.columns.left
        = f.submit 'Save'
%div{id: "stocks_#{item.id}_#{@option}"}
  - if !stocks.empty? and @item.present? and (@item.id == item.id) and stocks.first.item_option == @item_option
    - @stocks = stocks
    = render 'stocks/index'
