=# render partial: 'new_item_link', collection: @root_categories

%table
  %tr
    %th
    %th Name
    %th Price
    %th X
    %th remote
    %th Type
    %th Category
    %th

  - @items.order('rank').each do |item|
    - variants = item.variants.where(item_default: true, domain: current_tenant.domain)
    - price = variants.first.price
    %tr
      %td= item.rank
      %td= item.name
      %td= price.to_d > 0 ? price : item.price
      %td= item.withdrawn ? 'x' : ''
      %td= item.remote_order
      %td= item.item_type.name if item.item_type
      %td= make_title(item.category.name) if item.category
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %td
        = link_to 'Variants', variants_path(:item_id => item.id)
        - variants = item.variants.where( :domain => current_tenant.domain)
        - if variants.size > 0
          = variants.size
          = 'ok' if variants.where( item_default: true).size > 0


