= search_form_for @q do |f|
  = hidden_field :stock, true
  .field.small-3.columns
    = f.collection_select :grouping_eq, @groupings, "grouping", "title", prompt: 'Category'
    -#= f.select :grouping_eq,  options_from_collection_for_select(@groupings, "grouping", "grouping", params[:q][:grouping_eq]), include_blank: true
  .field.small-3.columns.left
    = f.text_field :name_cont
  .row
    .actions.small-3.columns.left
      = f.submit 'Search'

- @items.each do |stock_item |
  - @option = nil
  - if stock_item.options.size > 1
    - stock_item.options.each do |option|
      - unless option.blank?
        - options = Element.where(kind: option)
        - options.each do |o|
          - @option = o.name
          = render 'stock_item', item: stock_item
  - else
    = render 'stock_item', item: stock_item
:coffeescript
  pad = (n) ->
    if n < 10 then '0' + n else n
  $(".level").change ->
    date = new Date()
    fdate = date.getFullYear() + '-' + pad(date.getUTCMonth()+1) + '-' + pad(date.getUTCDate())
    $(this).parent().siblings().find("#item_stock_date").val fdate
