%h6
  Financial Posts
%table#financial
  - @posts.each do |posting|
    %tr
      - postable = "#{posting.postable_type} #{posting.postable_id}"
      %td.has-tip.tip-right{'data-tooltip' => true, 'title' => postable}
        = posting.account_date.strftime("%-d %b %y")
      %td= posting.desc.sub(' debit','').sub(' credit','')
      %td
        -#.has-tip.tip-right{'data-tooltip' => true, 'title' => title}
        = posting.accountable.name if posting.accountable
      %td.number= pounds( posting.debit_amount )  unless posting.debit_amount == 0
      %td.number= pounds( posting.credit_amount )  unless posting.credit_amount == 0
