= search_form_for @q do |f|
  .row.search
    .field.small-3.columns
      = f.label :debit_amount_cents_gteq, 'Debits >='
      = f.text_field :debit_amount_cents_gteq
    .field.small-3.columns.left
      = f.label :debit_amount_cents_gteq, '<='
      = f.text_field :debit_amount_cents_lteq
    .field.small-3.columns
      = f.label :credit_amount_cents_gteq, 'Credits >='
      = f.text_field :credit_amount_cents_gteq
    .field.small-3.columns.left
      = f.label :credit_amount_cents_gteq, '<='
      = f.text_field :credit_amount_cents_lteq
  .row.search
    .field.small-3.columns
      = label_tag :period, 'Period'
      = select_tag :period,  options_from_collection_for_select(@periods, "name", "name", @period), include_blank: true
    .field.small-3.columns
      = f.label :account_date_gteq, 'From'
      = f.date_field :account_date_gteq
    .field.small-3.columns.left
      = f.label :account_date_lteq, 'Until'
      = f.date_field :account_date_lteq
  .row.search
    .field.small-3.columns
      = f.label :grouping_id_eq, 'Group'
      = f.collection_select :grouping_id_eq, @groupings, 'id', 'name', include_blank: true
    .field.small-3.columns
      = f.label :account_id_eq, 'Account'
      = f.collection_select :account_id_eq, @accounts, 'id', 'name', include_blank: true
    .field.small-3.columns.left
      = f.label :account_id_eq, 'Reference'
      = f.collection_select :accountable_id_eq, @accountables, 'id', 'name', include_blank: true
    .field.small-3.columns.left
      = label_tag :limit
      = select_tag :limit, options_for_select(%w[50 100 500 1000 2000 5000], params[:limit] || 100)
  .row
    .actions.small-3.columns.left
      = f.submit 'Search'

%table#financial
  %tr
    %th= sort_link(@q, :account_date, "Date")
    %th
    %th= sort_link(@q, :account_id, "Account")
    %th Reference
    %th.number
      = sort_link(@q, :debit_amount_cents, "Debit")
      %br
      = pounds( @debits )
    %th.number
      = sort_link(@q, :credit_amount_cents, "Credit")
      %br
      = pounds( @credits )
    %th
    -#%th
    -#%th

  - @posts.each do |posting|
    %tr
      %td.has-tip.tip-right{'data-tooltip' => true, 'title' => posting.id}
        = posting.account_date.strftime("%-d %b %y")
      %td= posting.desc.sub(' debit','').sub(' credit','')
      %td= posting.account.name if posting.account
      -#- case posting.postable_type
      -#  - when 'Order'
      -#    - type = posting.postable.contra ? 'Contra' : 'Order'
      -#    - title = "#{type} #{posting.postable_id}"
      -#  - when 'Payment'
      -#    - title = "Payment #{posting.postable_id}"
      -#  - when 'Receipt'
      -#    - title = "Receipt #{posting.postable_id}"
      -#  - else
      -#    - title = ''
      %td
        -#.has-tip.tip-right{'data-tooltip' => true, 'title' => title}
        = posting.accountable.name if posting.accountable
      %td.number= pounds( posting.debit_amount )  unless posting.debit_amount == 0
      %td.number= pounds( posting.credit_amount )  unless posting.credit_amount == 0
      -#%td.number
      -#  = check_box_tag 'check'
      %td=# link_to 'Show', posting
      %td=# link_to 'Edit', edit_posting_path(posting)
      %td=# link_to 'Destroy', posting, :method => :delete, :data => { :confirm => 'Are you sure?' }
