%li
  %p
    %span
      = current_order.updated_at.strftime('%e %b %y')
    %span.title
      = link_to "Order #{current_order.id}", order_path(current_order, bill: true), remote: true, class: 'no_ajaxify', title: 'View Order'
    %span
      = "#{pluralize(current_order.line_items.sum('quantity')  , 'item')}"
  %p
    %span
      = humanized_money_with_symbol(current_order.net_home + current_order.tax_home)
    - if current_order.tax_home > 0
      %span
        = "(#{humanized_money_with_symbol(current_order.net_home)} + #{humanized_money_with_symbol(current_order.tax_home)})"
    - if allow? :orders, :delete
      %span.title
        != link_to 'X', order_path( current_order ), method: :delete, remote: true, class: 'no_ajaxify',
          data: {  confirm: 'Delete Order?'}, title: "Delete Order"
