- grouped = grouped_accounts
- amount = (financial.credit ?  financial.credit_amount : financial.debit_amount)
= form_for financial  do |f|
  %fieldset.compact
    .row
      = hidden_field_tag :editor, true
      .field.small-1.columns.headings
        = hidden_field_tag :processed, @q.processed_eq
      .field.small-2.columns.headings
        = link_to financial.event_date, edit_financial_path(financial), title: 'Edit Financial'
      .field.small-3.columns.has-tip{"data-tooltip" => "", title: financial.desc}
        = "#{financial.entity_ref}"
        %br
        = "#{financial.credit ?  'Credit' : 'Debit'}: #{pounds(amount)}"
      - if ['BACS', 'card', 'direct','refund'].include? financial.classification
        .field.small-2.columns.left
          = f.text_field :tax_home
        .field.small-1.columns.left
          = hidden_field_tag :amount, amount
          = label_tag :VAT, 'VAT'
          = check_box_tag :VAT,'VAT', (financial.tax_home && financial.tax_home > 0.00), class: 'VAT'
        .field.small-3.columns.left
          = f.select :account_id, grouped_options_for_select(grouped, financial.account_id), {include_blank: 'Account'}
      - else
        .field.small-2.columns.left
          = f.hidden_field :processed
          &nbsp;
        .field.small-1.columns.left
          = financial.classification.capitalize
        .field.small-3.columns.left
      .field.small-1.columns
        - if financial.processed
          = f.submit 'Update'
        - else
          = f.submit 'Process'