-# allocations = allocation_accounts
- grouped = grouped_accounts
= form_for @financial do |f|
  - if @financial.errors.any?
    #error_explanation
      %h6= "#{pluralize(@financial.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - @financial.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend= 'Financial'
    = hidden_field_tag :processed, @financial.processed
    .row
      .field.small-3.columns
        = f.label :event_date
        = f.date_field :event_date
      .field.small-3.columns
        = f.label :effective_date
        = f.date_field :effective_date
      .field.small-3.columns.left
        = f.label :bank
        = f.collection_select :bank, Bank.where('reference IS NOT NULL').order(:rank).load, 'reference', 'reference'
    .row
      .field.small-2.columns.left
        = f.label :credit
        = f.check_box :credit
      .field.small-2.columns.left
        = f.label :processed
        = f.check_box :processed
      .field.small-2.columns.left
        = f.label :depreciation
        = f.check_box :depreciation
      .field.small-2.columns.left
        = f.label :resolved
        = f.check_box :resolved
      .field.small-2.columns.left
        = f.label :annual
        = f.check_box :annual
      .field.small-2.columns.left
        = f.label :invoice
        = f.check_box :invoice
    .row
      .field.small-3.columns.left
        = f.label :credit_amount
        = f.text_field :credit_amount
      .field.small-2.columns.left
        = f.label :tax_home,'VAT'
        = f.text_field :tax_home
      .field.small-1.columns.left
        = label_tag :VAT, 'Calc'
        = check_box_tag :VAT,'VAT', (@financial.tax_home && @financial.tax_home > 0.00)
      .field.small-3.columns.left
        = f.label :debit_amount
        = f.text_field :debit_amount
      .field.small-3.columns.left
        = f.label :classification,'Method'
        = f.text_field :classification
    .row
      .field.small-3.columns.left
        = f.label :account_id
        -#= f.collection_select :account_id, allocations,'id','name', {include_blank: 'Account'}
        = f.select :account_id, grouped_options_for_select(grouped, @financial.account_id), {include_blank: 'Account'}
      .field.small-2.columns.left
        = f.label :entity
        = f.collection_select :entity, Element.where(kind: 'entity').order(:name).load,'name','name'
      .field.small-3.columns.left
        = f.label :entity_id, 'ID'
        - case @financial.entity
          - when 'Bank'
            = f.collection_select :entity_id, Bank.where('reference IS NOT NULL').order(:name).load,'id','name', include_blank: true
          - when 'Employee'
            = f.collection_select :entity_id, Employee.order(:first_name).load,'id','first_name', include_blank: true
          - when 'Supplier'
            = f.collection_select :entity_id, Supplier.order(:name).load,'id','name', include_blank: true
      .field.small-2.columns.left
        = f.label :mandate
        = f.text_field :mandate
    .row
      .field.small-8.columns.left
        = f.label :summary, 'Accounts Summary'
        = f.text_field :summary
      .field.small-4.columns.left
        = f.label :entity_ref
        = f.text_field :entity_ref
    .row
      .field.small-12.columns.left
        = f.label :desc, 'Bank Reference'
        = f.text_field :desc
    .row
      .actions
        = f.submit 'Save'

:javascript
  vat_rate = "#{CONFIG[:vat_rate_standard]}";
:coffeescript
  $("#VAT").change ->
    if $(this).is(":checked")
      gross = $("#financial_credit_amount").val()
      net = gross / parseFloat(1.00 + parseFloat(vat_rate))
      vat = (gross - net).toFixed(2)
    $("#financial_tax_home").val vat
