- if params[:hidden].present? && params[:hidden] == 'true'
  = render 'search_hidden'
- else
  = render 'search'
'
#posts

%p
  = "--> Search Totals .... Credits: #{pounds(@credits)} .... Debits: #{pounds(@debits)}  .... #{@financials.size} entries shown"

= render @financials

:javascript
  vat_rate = "#{CONFIG[:vat_rate_standard]}";
:coffeescript
  $(".VAT").change ->
    if $(this).is(":checked")
      gross = $(this).siblings().val()
      net = gross / parseFloat(1.00 + parseFloat(vat_rate))
      vat = (gross - net).toFixed(2)
    $(this).parent().siblings().find("#financial_tax_home").val vat
