.row
  .large-12.columns
    %ul#contact.inline-list
      - if allow? :financials, :index
        %li#admin
          != link_to 'New', new_financial_path, title: 'Create Transaction', class: 'small button radius' #, class: 'no_ajaxify', remote: 'true'

        - @banks.each do |bank|
          %li#admin
            != link_to "#{bank.reference}", batch_financials_path(bank: bank.reference), title: 'Batch Input', class: 'small button radius' #, class: 'no_ajaxify', remote: 'true'

        %li#admin
          != link_to 'Refs', entity_financials_path, title: 'Supplier References', class: 'small button radius' #, class: 'no_ajaxify', remote: 'true'

= search_form_for @q do |f|

  .row
    .field.small-3.columns
      = f.label :event_date_gteq, 'From'
      = f.date_field :event_date_gteq
    .field.small-3.columns.left
      = f.label :event_date_lteq, 'Until'
      = f.date_field :event_date_lteq
    - if params[:result].present? && !params[:result].blank?
      .field.small-6.columns.left
        %p
          = params[:result]
    .field.small-3.columns.left
      = label_tag :limit
      = select_tag :limit, options_for_select(%w[50 100 500 1000 1500 2000], params[:limit] || 100)
  .row
    .field.small-3.columns
      = f.label :entity_id_eq, 'Supplier'
      = f.collection_select :entity_id_eq, @suppliers, 'id', 'name', include_blank: true
    .field.small-3.columns
      = f.label :entity_ref_eq, 'Ref'
      = f.select :entity_ref_eq, options_for_select(@refs, @ref), include_blank: true
    .field.small-3.columns
      = f.label :summary_eq, 'Employee'
      = f.select :summary_eq, options_for_select(@employees, @employee), include_blank: true
    .field.small-3.columns
      = f.label :bank_eq, 'Bank'
      = f.collection_select :bank_eq, @banks, 'reference', 'name', selected: @bank, include_blank: true
  .row
    .actions
      = f.submit 'Search'


%table
  %thead
    %tr
      %th Date
      %th
      %th
      %th Credit
      %th Debit
      -#%th Res
      -#%th Proc
      %th
      %th

  %tbody
    - @financials.each do |financial|
      %tr
        %td= financial.event_date
        -#%td= financial.classification
        %td.has-tip{"data-tooltip" => "", title: financial.desc}
          = financial.summary
        %td.has-tip{"data-tooltip" => "", title: financial.entity_id}
          = financial.entity_ref
        %td= ( financial.credit_amount > 0 ? financial.credit_amount : '' )
        %td= ( financial.debit_amount > 0 ? financial.debit_amount : '' )
        -#%td= ( financial.resolved ? 'OK' : '' )
        -#%td= ( financial.processed ? 'OK' : '' )
        %td= link_to 'E', edit_financial_path(financial)
        %td= link_to 'X', financial, :method => :delete, :data => { :confirm => 'Are you sure?' }

