%h1 Listing transfers

%table
  %tr
    %th Transfer date
    %th Bank
    %th Recipient
    %th Exchange rate
    %th
    %th
    %th

  - @transfers.each do |transfer|
    %tr
      %td= transfer.transfer_date
      %td= transfer.bank
      %td= transfer.recipient
      %td= transfer.exchange_rate
      %td= link_to 'Show', transfer
      %td= link_to 'Edit', edit_transfer_path(transfer)
      %td= link_to 'Destroy', transfer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Transfer', new_transfer_path
