%p#notice= notice

%p
  %b Transfer date:
  = @transfer.transfer_date
%p
  %b Bank:
  = @transfer.bank.name
%p
  %b Recipient:
  = @transfer.recipient.name
%p
  %b Exchange rate:
  = @transfer.exchange_rate
