#editor
#display
= form_for @daily, html: { class: 'no_ajaxify'}, remote: true, :validate => true  do |f|
  %fieldset
    .row
      .field.small-12.columns
        = f.label :account_date
        = f.date_field :account_date
    .row
      .field.small-12.columns
        = f.label :credit_card, "Credit Card: #{pounds(@credit_card/100.00)}"
        = f.text_field :credit_card
    .row
      .field.small-12.columns.left
        = f.label :session
        = f.select :session, options_for_select(Element.where(kind: 'sessions').order(:rank).map(&:name), @daily.session)
    .row
      .field.small-12.columns.left
        %label
          = "Headcount: #{@daily.headcount}"
    .row
      .field.small-12.columns.left
        = f.submit 'Save'
