- months = get_months((Date.today.beginning_of_month - 3.year), 37).reverse
- no_content= params[:no_content].present? ? 'no_content' : ''
- weeks = get_weeks(month)
.row.large-12
  .small-3.columns
    = select_tag 'months', options_for_select(months, month)
  .small-3.columns
    = select_tag 'employees', options_from_collection_for_select(Employee.order(:first_name).where(live:true),'id', 'name',''), {prompt: 'Timesheets', width: 40}
  .small-3.columns.left
    = select_tag 'weeks', options_for_select(weeks), {prompt: 'Week'}
-#%p

#daily_editor

= calendar(month) do |date|
  %ul
    %li
    = date.day
    - if date <= Date.today
      = link_to 'L', new_daily_path(date: date.to_s, session: 'lunch'), class: 'no_ajaxify', remote: true
      - if  allow? :dailes, :destroy
        = link_to 'B', new_daily_path(date: date.to_s, session: 'bonus'), class: 'no_ajaxify', remote: true
      = link_to 'Dinner', new_daily_path(date: date.to_s, session: 'dinner'), class: 'no_ajaxify', remote: true
    = link_to 'Shifts', new_timesheet_path(date: date.to_s), class: 'no_ajaxify', remote: true

    - if dailies[date]
      - dailies[date].each do |daily|
        - if daily.session == 'bonus'
          %li
            %span
              = "#{daily.headcount} pax: bonus"
        - else
          %li
            %span
              = link_to daily.session[0].capitalize, edit_daily_path(daily), remote: true, class: 'no_ajaxify'
            %span
              = link_to "#{pounds(daily.take)}", daily_path(daily), remote: true, class: 'no_ajaxify'
              = link_to 'x', daily_path( daily), method: :delete, remote: true, class: 'no_ajaxify', data: { tooltip:  true, :confirm => 'Are you sure?'}, title: "Remove Session"
            %span
              = (daily.processed ? 'FFok' : '')
          %li
            %span
              = "#{daily.credit_card}cc + #{pounds(daily.take - daily.credit_card)}"
          %li
            %span
              = "#{daily.headcount} pax: "
              =# "#{pluralize(daily.headcount, 'head')}"
            %span
              = link_to "#{pounds(daily.tips)}", daily_path(daily), remote: true, class: 'no_ajaxify'
    - if timesheets[date]
      - timesheets[date].each do |timesheet|
        %li
          %span
            = link_to "#{timesheet.session[0].upcase} #{timesheet.employee.first_name}", edit_timesheet_path(timesheet), remote: true, class: 'no_ajaxify'
          %span
            = "#{timesheet.hours}"
          = link_to 'x', timesheet_path( timesheet), method: :delete, remote: true, class: 'no_ajaxify', data: { tooltip:  true, :confirm => 'Are you sure?'}, title: "Remove Timesheet"
    - if bookings[date]
      %li
        = link_to (pluralize bookings[date].size, 'book'), dated_bookings_path(booking_date: date.to_s, all: true), remote: true, class: 'no_ajaxify'
        - if orders[date]
          = ':'
          = link_to (pluralize orders[date].size, 'order'), orders_path(date: date.to_s, home: true), remote: true, class: 'no_ajaxify'
