- dailies = Daily.order('account_date, session DESC')
- last_session = ( @daily.session == 'lunch' ) ? dailies.where('account_date < ?', @daily.account_date).last : dailies.where("account_date < ? OR (account_date = ? AND session = 'lunch')", @daily.account_date, @daily.account_date).last
- last_till = last_session ? last_session.till : 0.00
- last_safe = last_session ? last_session.safe : 0.00
- take = @daily.take - @daily.goods
- cash = @daily.cash
- surplus_amount = cash + last_till - (@daily.petty + @daily.till)
-# safe_amount = last_safe + cash - @daily.petty + ( last_till - @daily.till ) - @daily.bank
- safe_amount = last_safe + @daily.surplus - (@daily.bank + @daily.safe_cash)
#editor
#display
#summary
  .row
    .field.large-12.columns.title
      = @daily.account_date.strftime('%a, %e %b %y')
  .row
    .field.large-12.columns.title
      = @daily.session.capitalize
  .row
    .large-6.columns.id
      Pax
    .large-6.columns.number.id
      = pax(@daily.pax)
  .row
    .large-6.columns
      Booked
    .large-6.columns.number
      = pax(@daily.booked_pax)
  .row
    .large-6.columns
      Walk-in
    .large-6.columns.number
      = pax(@daily.walkin_pax)
  .row
    .large-6.columns.id
      Take
    .large-6.columns.number.id
      = pounds(take)
  .row
    .large-6.columns
      Cards
    .large-6.columns.number
      = pounds(@daily.credit_card)
  .row
    .large-6.columns
      Cash
    .large-6.columns.number
      = pounds(@daily.cash)
  .row
    .large-6.columns
      Cheque
    .large-6.columns.number
      = pounds(@daily.cheque)
  .row
    .large-6.columns
      Till
    .large-6.columns.number
      = pounds(@daily.till)
  .row
    .large-6.columns
      Surplus
    .large-6.columns.number
      = pounds(@daily.surplus)
  .row
    .large-6.columns.off
      Calculated
    .large-6.columns.number.off
      = pounds(surplus_amount)
  .row
    .large-6.columns.off
      Discount
    .large-6.columns.number.off
      = pounds(@daily.discount)
  .row
    .large-6.columns.id
      Turnover
    .large-6.columns.number.id
      = pounds(@daily.turnover)
  .row
    .large-6.columns
      Seated
    .large-6.columns.number
      = pounds(@daily.seated)
  .row
    .large-6.columns
      Takeaway
    .large-6.columns.number
      = pounds(@daily.takeaway)
  .row
    .large-6.columns.off
      Tax
    .large-6.columns.number.off
      = pounds(@daily.tax)
  .row
    .large-6.columns.id
      Tips
    .large-6.columns.number.id
      = pounds(@daily.tips)
  - tips = @daily.tips / @daily.headcount if @daily.headcount.to_i > 0
  - if tips
    .row
      .large-6.columns
        Staff
      .large-6.columns.number
        = pax(@daily.headcount)
    .row
      .large-6.columns
        Share
      .large-6.columns.number
        =  pounds(tips)
  - if allow? :orders, :destroy
    .row
      .large-6.columns.id
        Till Used
      .large-6.columns.number
        = pounds(@daily.petty)
    .row
      .large-12.columns
        = @daily.petty_reason
    .row
      .large-6.columns
        Banked
      .large-6.columns.number
        = pounds(@daily.bank)
    .row
      .large-6.columns
        Safe Used
      .large-6.columns.number
        = pounds(@daily.safe_cash)
    .row
      .large-12.columns.off
        = @daily.safe_reason
    .row
      .large-6.columns.id
        Safe
      .large-6.columns.number.id
        = pounds(@daily.safe)
    .row
      .large-6.columns.off
        Calculated
      .large-6.columns.number.off
        = pounds(safe_amount)
  .row
    .large-6.columns.id
      Goods
    .large-6.columns.number.id
      = pounds(@daily.goods)
  .row
    .large-6.columns.id
      Check
    .large-6.columns.number.id
      = pounds((@daily.goods + @daily.turnover + @daily.tax + @daily.tips) - (@daily.credit_card + @daily.cash + @daily.cheque))
