- takes = 0.00
- credit_cards = 0.00
- tips = 0.00
- takes_week = 0.00
- credit_cards_week = 0.00
- tips_week = 0.00
- turnover_week = 0.00
- tax_week = 0.00
- takes_month = 0.00
- credit_cards_month = 0.00
- tips_month = 0.00
- turnover_month = 0.00
- tax_month = 0.00
- week = week_number(@daily_date)
- hmrc_pay_week = HMRC_week_number(@daily_date.beginning_of_week + 12.days)
- week_start = week_start(@daily_date)
- month = @daily_date.to_date.strftime('%B')
#editor
#display
#summary
  .row
    .field.large-12.columns.title
      = @daily_date.to_date.strftime('%B %Y')
  - @dailies.order(:account_date).each do |daily|

    - current = week_number(daily.account_date)
    - if week != current
      .row
        .large-12.columns.id
          = "W/b #{week_start} (HMRC #{hmrc_pay_week})"
      .row
        .large-6.columns
          Take
        .large-6.columns.number
          = "#{pounds(takes_week)}"
      .row
        .large-6.columns
          Tipless
        .large-6.columns.number
          = "#{pounds(takes_week - tips_week)}"
      .row
        .large-6.columns
          CC
        .large-6.columns.number
          = "#{pounds(credit_cards_week)}"
      .row
        .large-6.columns
          cash
        .large-6.columns.number
          = "#{pounds(takes_week - credit_cards_week)}"
      .row
        .large-6.columns
          Net Sales
        .large-6.columns.number
          = "#{pounds(turnover_week)}"
      .row
        .large-6.columns
          Tax
        .large-6.columns.number
          = "#{pounds(tax_week)}"
      .row
        .large-6.columns
          Tips
        .large-6.columns.number
          = "#{pounds(tips_week)}"

      - takes_week = 0.00
      - credit_cards_week = 0.00
      - tips_week = 0.00
      - turnover_week = 0.00
      - tax_week = 0.00
      - week = current
      - hmrc_pay_week = HMRC_week_number(daily.account_date.beginning_of_week + 12.days)
      - week_start = week_start(daily.account_date) #.account_date.beginning_of_week.strftime('%d-%m-%y')

    - takes_week += daily.take.to_d
    - credit_cards_week += daily.credit_card.to_d
    - tips_week += daily.tips.to_d
    - turnover_week += daily.turnover.to_d
    - tax_week += daily.tax.to_d
    - if daily.account_date.to_date.strftime('%B') == month
      - takes_month += daily.take.to_d
      - credit_cards_month += daily.credit_card.to_d
      - tips_month += daily.tips.to_d
      - turnover_month += daily.turnover.to_d
      - tax_month += daily.tax.to_d
  .row
    .large-12.columns.id
      = "W/b #{week_start} (HMRC #{hmrc_pay_week})"
  .row
    .large-6.columns
      Take
    .large-6.columns.number
      = "#{pounds(takes_week)}"
  .row
    .large-6.columns
      Tipless
    .large-6.columns.number
      = "#{pounds(takes_week - tips_week)}"
  .row
    .large-6.columns
      CC
    .large-6.columns.number
      = "#{pounds(credit_cards_week)}"
  .row
    .large-6.columns
      cash
    .large-6.columns.number
      = "#{pounds(takes_week - credit_cards_week)}"
  .row
    .large-6.columns
      Net Sales
    .large-6.columns.number
      = "#{pounds(turnover_week)}"
  .row
    .large-6.columns
      Tax
    .large-6.columns.number
      = "#{pounds(tax_week)}"
  .row
    .large-6.columns
      Tips
    .large-6.columns.number
      = "#{pounds(tips_week)}"

  .row
    .large-12.columns.title
      - if (allow? :dailies, :destroy) && params[:link].present?
        = link_to "#{month} Totals", dailies_url(calendar: false, daily_date: @daily_date.to_date.strftime('%Y-%m-%d'), balance: true), class: 'no_ajaxify', remote: 'true'
      - else
        = "#{month} Totals"
  .row
    .large-6.columns
      Take
    .large-6.columns.number
      = "#{pounds(takes_month)}"
  .row
    .large-6.columns
      Tipless
    .large-6.columns.number
      = "#{pounds(takes_month - tips_month)}"
  .row
    .large-6.columns
      CC
    .large-6.columns.number
      = "#{pounds(credit_cards_month)}"
  .row
    .large-6.columns
      cash
    .large-6.columns.number
      = "#{pounds(takes_month - credit_cards_month)}"
  .row
    .large-6.columns
      Net Sales
    .large-6.columns.number
      = "#{pounds(turnover_month)}"
  .row
    .large-6.columns
      Tax
    .large-6.columns.number
      = "#{pounds(tax_month)}"
  .row
    .large-6.columns
      Tips
    .large-6.columns.number
      = "#{pounds(tips_month)}"
