- takes = 0.00
- credit_cards = 0.00
- tips = 0.00
- takes_week = 0.00
- credit_cards_week = 0.00
- tips_week = 0.00
- fy_start = "06-04-#{Date.today.year}".to_date #Date.today #.month(5) #.day(4)    '06-04'.to_date
- fy_start = fy_start - 1.year if fy_start > @daily_date#.strftime('%U')
- week = ((@daily_date.to_date - fy_start)/7).to_i + 1 #.strftime('%U').to_i
-#= week
#summary
  .row
    .field.large-12.columns.title
      = @daily_date.to_date.strftime('%B %Y')
      =# week
  - @dailies.order(:account_date).each do |daily|

    - current = ((daily.account_date - fy_start)/7).to_i + 1 #.strftime('%U').to_i
    - if week != current
      .row
        .large-12.columns.id
          = "Week #{week}"
      .row
        .large-6.columns
          Take
        .large-6.columns.number
          = "#{humanized_money_with_symbol(takes_week)}"
      .row
        .large-6.columns
          CC
        .large-6.columns.number
          = "#{humanized_money_with_symbol(credit_cards_week)}"
      .row
        .large-6.columns
          Tips
        .large-6.columns.number
          = "#{humanized_money_with_symbol(tips_week)}"
      .row
        .large-6.columns
          cash
        .large-6.columns.number
          = "#{humanized_money_with_symbol(takes_week - credit_cards_week)}"
      .row
        .large-6.columns
          Turnover
        .large-6.columns.number
          = "#{humanized_money_with_symbol(takes_week - tips_week)}"

      - takes_week = 0.00
      - credit_cards_week = 0.00
      - tips_week = 0.00
      - fy_start = "06-04-#{Date.today.year}".to_date #Date.today #.month(5) #.day(4)    '06-04'.to_date
      - fy_start = fy_start - 1.year if fy_start > daily.account_date#.strftime('%U')
      - week = ((daily.account_date.to_date - fy_start)/7).to_i + 1 #.strftime('%U').to_i
    - takes_week += daily.take.to_d
    - credit_cards_week += daily.credit_card.to_d
    - tips_week += daily.tips.to_d
  .row
    .large-12.columns.id
      = "Week #{week}"
  .row
    .large-6.columns
      Take
    .large-6.columns.number
      = "#{humanized_money_with_symbol(takes_week)}"
  .row
    .large-6.columns
      CC
    .large-6.columns.number
      = "#{humanized_money_with_symbol(credit_cards_week)}"
  .row
    .large-6.columns
      Tips
    .large-6.columns.number
      = "#{humanized_money_with_symbol(tips_week)}"
  .row
    .large-6.columns
      cash
    .large-6.columns.number
      = "#{humanized_money_with_symbol(takes_week - credit_cards_week)}"
  .row
    .large-6.columns
      Turnover
    .large-6.columns.number
      = "#{humanized_money_with_symbol(takes_week - tips_week)}"
