%h1 Listing suppliers

%table
  %tr
    %th Name
    %th Phone1
    %th Phone2
    %th Email
    %th Notes
    %th Opening balance
    %th
    %th
    %th

  - @suppliers.each do |supplier|
    %tr
      %td= supplier.name
      %td= supplier.phone1
      %td= supplier.phone2
      %td= supplier.email
      %td= supplier.notes
      %td= supplier.opening_balance
      %td= link_to 'Show', supplier
      %td= link_to 'Edit', edit_supplier_path(supplier)
      %td= link_to 'Destroy', supplier, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Supplier', new_supplier_path
