= button_to 'New Supplier', new_supplier_path, method: :get
%table
  %tr
    %th
    %th Name
    %th
    %th Phone1
    %th Email
    %th
    %th
    %th

  - @suppliers.each do |supplier|
    %tr
      %td= supplier.id
      %td= link_to supplier.name, orders_url(supplier_id: supplier.id)
      %td= link_to '£££', payments_url(supplier_id: supplier.id)
      %td= supplier.phone1
      %td= supplier.email
      - unless supplier == Supplier.find_by_name( current_tenant.home_supplier )
        %td
          = link_to 'Exp', new_order_path( supplier_id: supplier.id, type: 'expense')
          = link_to 'Fixed', new_order_path( supplier_id: supplier.id, type: 'fixed')
          = link_to 'Contra', new_order_path( supplier_id: supplier.id, quick: true, type: 'expense', contra: true)
          = link_to 'Quick', new_order_path( supplier_id: supplier.id, quick: true, type: 'expense') if supplier.opening_balance_currency == current_tenant.home_currency
        %td
          = link_to 'Q-exp', new_payment_path( supplier_id: supplier.id, quick: true)
          = link_to 'Q-fix', new_payment_path( supplier_id: supplier.id, quick: true, fixed: true)
          = link_to 'Pay', new_payment_path( supplier_id: supplier.id) if supplier.orders.where("(state = 'committed' or state = 'part_paid') and contra <> true ").size > 0
          = link_to 'Receive', new_receipt_path( supplier_id: supplier.id, type: 'contra', currency: supplier.opening_balance_currency) if supplier.orders.where("(state = 'committed' or state = 'part_paid') and contra = true").size > 0
      - else
        %td
        %td
      %td= link_to 'Edit', edit_supplier_path(supplier)
      %td= link_to 'Destroy', supplier, :method => :delete, :data => { :confirm => 'Are you sure?' }
