%p#notice= notice

%p
  %b Name:
  = @supplier.name
%p
  %b Phone1:
  = @supplier.phone1
%p
  %b Phone2:
  = @supplier.phone2
%p
  %b Email:
  = @supplier.email
%p
  %b Notes:
  = @supplier.notes
%p
  %b Opening balance:
  = @supplier.opening_balance

= link_to 'Edit', edit_supplier_path(@supplier)
\|
= link_to 'Back', suppliers_path
