.row
  .field.small-3.columns
    = label_tag :sales
    = text_field_tag :sales, nil, class: 'apportion'
  .field.small-3.columns
    = label_tag :tips
    = text_field_tag :tips, nil, class: 'apportion'
  .field.small-3.columns.left
    = label_tag :VAT
    = text_field_tag :VAT, nil, class: 'apportion'
