= search_form_for @q do |f|
  .row
    .field.small-3.columns
      = f.label :bank_id_eq, 'Bank'
      = f.collection_select :bank_id_eq, @banks, 'id', 'name', include_blank: true
    -#.field.small-3.columns
    -#  = f.label :account_id_eq, 'Account'
    -#  = f.collection_select :account_id_eq, @accounts, 'id', 'name', include_blank: true
    .field.small-3.columns
      = f.label :receipt_date_gteq, 'From'
      = f.date_field :receipt_date_gteq
    .field.small-3.columns.left
      = f.label :receipt_date_lteq, 'Until'
      = f.date_field :receipt_date_lteq
  .actions
    = f.submit 'Search'
= button_to 'Banked Takings', new_receipt_path( currency: current_tenant.home_currency, type: 'takings' ), method: :get
= button_to 'VAT Refund', new_receipt_path( currency: current_tenant.home_currency, type: 'VAT' ), method: :get
= button_to 'Directors Loan', new_receipt_path( currency: current_tenant.home_currency, type: 'directors' ), method: :get
= render partial: 'receipt_button', collection: Element.where(kind: 'currency').order(:rank)

%table
  %tr
    %th Receipt date
    %th Amount
    %th Apportions
    %th Bank
    %th Exchange rate
    %th Home amount
    %th State
    %th Receivable type
    %th Receivable
    %th
    %th
    %th

  - @receipts.each do |receipt|
    %tr
      %td= receipt.receipt_date.strftime("%d %b %y")
      %td= receipt.amount
      %td= receipt.apportions.size
      %td= receipt.bank.name
      %td= receipt.exchange_rate
      %td= receipt.home_amount
      %td= receipt.state
      %td= receipt.receivable_type
      %td= receipt.receivable_id
      %td= link_to 'Show', receipt
      %td= link_to 'Edit', edit_receipt_path(receipt)
      %td= link_to 'Destroy', receipt, :method => :delete, :data => { :confirm => 'Are you sure?' }


