.contain-to-grid.sticky
  -#%nav.top-bar{data: { 'topbar' => true, 'magellan-expedition' => 'fixed' } }
  %nav.top-bar{data: { topbar: true } }
    %ul.title-area
      %li.name
        %h1
          != link_to image_tag("#{current_tenant.domain}_logo_mobile.gif"), '/', class: "no_ajaxify image mast", title: current_tenant.name
          -#!= link_to current_tenant.name, '/', class: "no_ajaxify image mast"
      %li.toggle-topbar.menu-icon
        %a{href: "#"} Menu
    %section.top-bar-section
      / Right Nav Section
      %ul.right
        - %w(food drinks catalogue).each do |component|
          - if eval("current_tenant.#{component} == '1'")
            %li.has-dropdown
              != link_to make_title(component), "#", class: 'no_ajaxify'
              -#%a{href: "#"} component
              - @categories = set_categories(component)
              %ul.dropdown
                - @categories.order(:rank, :name).each do |category|
                  %li
                    = link_to category.nice_name.pluralize, choice_path(category.name)
        %li.has-dropdown
          != link_to 'Us', "#", class: 'no_ajaxify'
          %ul.dropdown
            - ['find_us', 'opening_hours'].each do |category|
              %li
                = link_to title(category), page_path(category, code:true)
            - if allow? :pages, :index
              %li
                = link_to 'Our News', blog_pages_path(name: 'news')
            - if allow? :broadcasts, :index
              %li
                = link_to 'Around Brixham', blog_broadcasts_path(name: 'news')
              %li
                = link_to 'Events', blog_broadcasts_path(name: 'event')
              -#%li
              -#  = link_to category.nice_name.pluralize, choice_path(category.name)


-#.row.hide-for-large-up{data: { 'magellan-expedition' => 'fixed' } }
-#  .small-6.columns
-#    != link_to image_tag("#{current_tenant.domain}_logo_small.gif"), '/', :class => "no_ajaxify image mast"
-#  .small-6.columns
-#    %ul.inline-list.right
-#      - %w(food drinks catalogue).each do |component|
-#        - if eval("current_tenant.#{component} == '1'")
-#          %li
-#            != link_to make_title(component), choices_path(choices: component), class: 'no_ajaxify', remote: 'true'
-#      %li
-#        != link_to 'Us', sub_menu_path('us', code: true), class: 'no_ajaxify', remote: 'true'
