-#.row.hide-for-large-up{data: { 'magellan-expedition' => 'fixed' } }
-#  .small-6.columns
-#    != link_to image_tag("#{current_tenant.domain}_logo_small.gif"), '/', :class => "no_ajaxify image mast"
-#  .small-6.columns
-#    %ul.inline-list.right
-#      - %w(food drinks catalogue).each do |component|
-#        - if eval("current_tenant.#{component} == '1'")
-#          %li
-#            != link_to make_title(component), choices_path(choices: component), class: 'no_ajaxify', remote: 'true'
-#      %li
-#        != link_to 'Ubs', sub_menu_path('us', code: true), class: 'no_ajaxify', remote: 'true'
-#
-#      - if (current_tenant.bookings && current_tenant.bookings == '1') && (allow? :bookings, :index )
-#        %li
-#          != link_to 'Book', bookings_path, remote: true, class: 'button radius no_ajaxify'

.row.show-for-large-up
  .large-3.columns
    != link_to image_tag("#{current_tenant.domain}_logo_small.gif"), '/', class: 'no_ajaxify image'
  .large-4.columns
    %ul#contact.inline-list
      - if allow? :items, :index
        %li#admin
          != link_to 'Admin', sub_menu_path('admin', code: true), class: 'no_ajaxify', remote: 'true'
        %li
          !=# link_to "Register", signup_path, :class => "button radius"
          != link_to "Register", signup_path
        -#- if current_tenant.sitting == '1'  && (allow? :meals, :index )
        -#  %li
        -#    != link_to "Sitting", meals_path(), remote: true, class: 'no_ajaxify'

        -#- if current_tenant.cart == '1' # && !current_user.id.blank?
        -#  %li
        -#    != link_to 'Wish List', carts_path, class: 'no_ajaxify button radius', remote: true
        -#%li
        -#  != link_to 'Us', sub_menu_path('us', code: true), class: 'button radius no_ajaxify', remote: 'true'
        -#- if admin_ok?
        -#  %li
        -#    = render 'layouts/menus/session'
      - else
        #contact
          != render 'layouts/contact/index'
      - if admin_ok?
        %li
          = render 'layouts/menus/session'
  .large-5.columns
    %ul#main-nav.inline-list.right
      - if (current_tenant.takeaway && current_tenant.takeaway == '1') && allow?(:meals, :takeaway) && current_user.id.blank?
        %li
          != link_to 'Takeaway', takeaway_meal_path(id: 0,choices: 'food'), remote: true, class: 'button radius no_ajaxify'
      - if (current_tenant.bookings && current_tenant.bookings == '1') && (allow? :bookings, :index )
        %li
          != link_to 'Book', bookings_path, remote: true, class: 'button radius no_ajaxify'
      - %w(food drinks catalogue).each do |component|
        - if eval("current_tenant.#{component} == '1'")
          %li
            != link_to make_title(component), choices_path(choices: component), class: 'button radius no_ajaxify', remote: 'true'
      - if current_tenant.cart == '1' # && !current_user.id.blank?
        %li
          != link_to 'Wishes', carts_path(code: 'catalogue'), class: 'no_ajaxify button radius', remote: true
      %li
        != link_to 'Us', sub_menu_path('us', code: true), class: 'button radius no_ajaxify', remote: 'true'

