- if admin_ok?
  .row
    .small-12.large-2.columns.no_padding
      %ul#contact.inline-list
        = render 'layouts/menus/session'
.contain-to-grid.sticky
  -#%nav.top-bar{data: { 'topbar' => true, 'magellan-expedition' => 'fixed' } }
  %nav.top-bar{data: { topbar: true } }
    %ul.title-area
      %li.name
        %h1
          != link_to image_tag("#{current_tenant.domain}_logo_mobile.gif"), '/', class: "no_ajaxify image mast", title: current_tenant.name
          -#!= link_to current_tenant.name, '/', class: "no_ajaxify image mast"
      %li.toggle-topbar.menu-icon
        %a{href: "#"} Menu
    %section.top-bar-section
      / Right Nav Section
      %ul.right
        -#- if admin_ok? #temp restriction
        - if (current_tenant.takeaway && current_tenant.takeaway == '1') && allow?(:meals, :takeaway) && current_user.id.blank?
          %li.level-one
            != link_to 'Takeaway', takeaway_meal_path(id: 0, choices: 'food', choice: 'main'), remote: true, class: 'no_ajaxify'
            -#%li.has-dropdown
            -#  != link_to 'Takeaway', "#", class: 'no_ajaxify'
              %ul.dropdown
                - %w(Starter Main).each do |category|
                  %li
                    = link_to category, takeaway_meal_path(id: 0, category: category.downcase), remote: true, class: 'no_ajaxify'
        - if (current_tenant.bookings && current_tenant.bookings == '1') && (allow? :bookings, :index )
          %li.level-one
            != link_to 'Book', bookings_path(no_content: true), remote: true, class: 'no_ajaxify'
        - %w(food drinks accessory jewellery bag art stuff catalogue).each do |component|
          - if eval("current_tenant.#{component} == '1'")
            %li.has-dropdown
              != link_to make_title(component), "#", class: 'no_ajaxify'
              - @categories = set_categories(component)
              %ul.dropdown
                - @categories.order(:rank, :name).each do |category|
                  %li
                    = link_to category.nice_name.pluralize, choice_path(category.name)
        %li.has-dropdown
          != link_to 'Us', "#", class: 'no_ajaxify'
          %ul.dropdown
            - ['find_us', 'opening_hours'].each do |category|
              %li
                = link_to title(category), page_path(category, code:true)
            - if allow? :pages, :index
              %li
                = link_to 'Our News', blog_pages_path(name: 'news')
            - if allow? :broadcasts, :index
              %li
                = link_to 'Around Brixham', blog_broadcasts_path(name: 'news')
              %li
                = link_to 'Events', blog_broadcasts_path(name: 'event')
              -#%li
              -#  = link_to category.nice_name.pluralize, choice_path(category.name)
