!!!
%html
%head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0" }
  %title
    = content_for?(:title) ? yield(:title) : current_tenant.name
  = stylesheet_link_tag    "application", media: "all"  #, "data-turbolinks-track" => true
  = javascript_include_tag "application", "modernizr.js"  #, "data-turbolinks-track" => true
  = csrf_meta_tag
%body

  %section.section#main
    .row
      .large-2.columns
        %section.section
          = render 'layouts/mast'
      .large-2.columns
        %section.section.contact
          = render "layouts/contact/#{current_tenant.domain}"
      .large-8.columns
        %section.section
          = render 'layouts/menus/top'
        %section.section.vertical-nav{ 'data-section' => "vertical-nav"}
          = render 'layouts/menus/status'
        %section.section.vertical-nav{ 'data-section' => "vertical-nav"}
          = render 'layouts/menus/splash'


  %section.section
    .row
      .large-2.columns
        .section-container
          = render 'layouts/menus/public'
          = render 'layouts/menus/main'

      .large-10.columns
        %section.section
          #ajax-main
            = yield

-#:coffeescript
-#  jQuery ->
-#    $(document).foundation()
