!!!
%html
%head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title= content_for?(:title) ? yield(:title) : current_tenant.name
  %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Commerce'}"}
  = stylesheet_link_tag "application", "data-turbolinks-track" => true

  -# Foundation 5 won't work with Rails Turbolinks
  -# Modernizr is required for Zurb Foundation
  = javascript_include_tag "modernizr", "data-turbolinks-track" => true
  = csrf_meta_tags
%body{ id: "#{params[:controller].parameterize}_controller", class: current_tenant.domain}
  = javascript_include_tag "application"
  -# .row#header
    -# unless allow? :items, :index
      #contact.large-12.columns.show-for-small-up
        = render 'layouts/contact/index'
  -#.row#header.hide-for-large-only
  -#  .large-12.columns
  -#    = render 'layouts/contact/index_small'
  .row#navigation
    .large-12.columns.show-for-medium-up
      = render 'layouts/navigation'
    .large-12.columns.hide-for-medium-up
      = render 'layouts/navigation_small'
  .row
    .large-12.columns#messages
      = render 'layouts/messages'
  .row
    .large-2.columns#aside.show-for-large-up
      %aside#sidebar
        -# unless allow? :users, :index
        = render "welcome/solus"
        = render "welcome/current"
        = render "welcome/footer"
      #utility
    .large-10.small-12.medium-12.columns
      .row.show-for-medium-up
        .large-12.columns#menu
          = render 'layouts/menus/us'
      .row
        .large-12.columns#content{role: "content"}
          = yield
    -#.large-2.pull-10.columns.hide-for-small-only
  -#.row.hide-for-large-up
  -#  .large-12.columns#menu.show-for-medium-only
  -#    = render 'layouts/menus/us'
  -#  .large-12.columns#content{role: "content"}
  -#    = yield
  #aside.hide-for-large-up
    %aside#sidebar
      -# unless allow? :users, :index
      = render "welcome/solus"
      = render "welcome/current"
      = render "welcome/footer"
    #contact_small.hide-for-large-up
      = render 'layouts/contact/index_small'
    #utility
:coffeescript
  jQuery ->
    $('ul.dropdown li:not(.title)').on 'click', (event) ->
      $('li.menu-icon').click()

