!!!
%html
%head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title= content_for?(:title) ? yield(:title) : current_tenant.name
  %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Commerce'}"}
  = stylesheet_link_tag "application", "data-turbolinks-track" => true, :media => 'print, screen'
  = stylesheet_link_tag 'print', :media => 'print'
  -# Foundation 5 won't work with Rails Turbolinks
  -# Modernizr is required for Zurb Foundation
  = javascript_include_tag "modernizr", "data-turbolinks-track" => true
  = csrf_meta_tags
%body{ id: "#{params[:controller].parameterize}_controller", class: current_tenant.domain}
  = javascript_include_tag "application"
  .row#navigation.no-print
    .large-12.columns.show-for-medium-up
      = render 'layouts/navigation'
    .large-12.columns.hide-for-medium-up
      = render 'layouts/navigation_small'
  .row.no-print
    .large-12.columns#messages
      = render 'layouts/messages'
  .row
    .large-2.columns#aside.show-for-large-up.no-print
      %aside#sidebar
        = render "welcome/intro"
      #utility
    .large-10.small-12.medium-12.columns
      .row.show-for-medium-up.no-print
        .large-12.columns#menu
          = render 'layouts/menus/us'
      .row.hide-for-large-up
        .large-12.columns
          #editor
      .row
        .large-12.columns#content{role: "content"}
          = yield
  #aside.show-for-medium-down.no-print
    %aside#sidebar
      -# unless allow? :users, :index
      = render "welcome/intro"
    #contact_small.no-print
      = render 'layouts/contact/index_small'
    #utility.no-print
:coffeescript
  jQuery ->
    $('ul.dropdown li:not(.title),li.level-one').on 'click', (event) ->
      $('li.menu-icon').click()
      $('div#editor').html('')
    $(document).on "click", 'input[value="Cancel"]', (event) ->
      event.preventDefault()
      $(this).parents().find('div#editor').html('')
    $(document).on "click", 'a#print', (event) ->
      window.print()
      event.preventDefault()
    $(document).on "click", 'a.no_content', (event) ->
      $('div#content').html('')