!!!
%html
%head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title= content_for?(:title) ? yield(:title) : current_tenant.title
  = stylesheet_link_tag "monitor", "data-turbolinks-track" => true, :media => 'print, screen'
  = javascript_include_tag "modernizr", "data-turbolinks-track" => true
  = csrf_meta_tags
= favicon_link_tag 'favicon.ico'
%body#monitor
  .row
    .large-12.columns
      = yield
