!!!
%html
%head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title= content_for?(:title) ? yield(:title) : current_tenant.title
  = stylesheet_link_tag "application", "data-turbolinks-track" => true, :media => 'print, screen'
  = javascript_include_tag "modernizr", "data-turbolinks-track" => true
  = csrf_meta_tags
= favicon_link_tag 'favicon.ico'
%body#monitor
  = javascript_include_tag "application"
  .row
    .large-12.columns
      %ul
        %li.wide
          %p.center
            %span.head
              Live Orders
  .row
    .large-12.columns#content
      %ul
        = yield
-#:coffeescript
-#  jQuery ->
-#    Ajaxify.init
-#      content_container: 'content'
-#    console.log("Ajafixy Loaded")
